@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

figure {
  margin: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.container {
  max-width: 100% !important;
  padding: 0 10px !important; }
  .container .row {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }

#content {
  font-size: 20px;
  color: #fff;
  display: block; }

.jumbotron {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: #f5f5f5; }
  .jumbotron .slick-dots {
    position: absolute;
    bottom: 235px;
    left: 0;
    height: 16px;
    width: 100%;
    text-align: center; }
    .jumbotron .slick-dots > li {
      display: inline-block;
      padding: 3px;
      border-radius: 50%;
      margin: 0 3px; }
      .jumbotron .slick-dots > li > button {
        display: block;
        width: 10px;
        height: 10px;
        margin: 0 auto;
        text-indent: -9999px;
        padding: 0;
        border-radius: 50%;
        border: 1px solid #8b8b8c;
        background: none; }
      .jumbotron .slick-dots > li.slick-active > button {
        border-color: #1a1a1d;
        background-color: #1a1a1d; }
  .jumbotron .visual-slide {
    width: 100%;
    outline: none; }
    .jumbotron .visual-slide .slider-bg {
      width: 100%; }
      .jumbotron .visual-slide .slider-bg .img-fluid {
        width: 100%; }
    .jumbotron .visual-slide .details {
      position: relative;
      z-index: 1;
      margin-top: -50%;
      width: 100%;
      padding-bottom: 50px;
      text-align: center; }
      .jumbotron .visual-slide .details figure {
        padding: 0 25%; }
        .jumbotron .visual-slide .details figure .img-fluid {
          position: relative;
          top: -30px;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 1s;
          transition-duration: 1s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          opacity: 0;
          width: 100%;
          display: inline-block; }
      .jumbotron .visual-slide .details h3 {
        position: relative;
        top: -30px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 1s;
        transition-delay: 1s;
        opacity: 0;
        margin-top: 60px;
        font-size: 28px;
        font-family: 'roboto','Noto Sans KR', sans-serif;
        /*font-family: 'roboto', serif;*/
        font-weight: lighter;
        line-height: 32px;
        color: #1b1b1d; }
        @media (min-width: 768px) {
          .jumbotron .visual-slide .details h3 {
            transform: scale(1.2); } }
      .jumbotron .visual-slide .details p {
        position: relative;
        top: -30px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 1.5s;
        transition-delay: 1.5s;
        opacity: 0;
        font-size: 12px;
        color: #999;
        font-weight: 300;
        line-height: 18px;
        margin-top: 20px; }
      .jumbotron .visual-slide .details .btn-area {
        position: relative;
        top: -30px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 2s;
        transition-delay: 2s;
        opacity: 0;
        margin-top: 15px; }
        .jumbotron .visual-slide .details .btn-area .btn-view {
          position: relative;
          display: inline-block; }
          .jumbotron .visual-slide .details .btn-area .btn-view i {
            position: relative;
            display: block;
            font-size: 10px;
            color: #1b1b1d;
            font-family: 'roboto','Noto Sans KR', sans-serif;
            /*font-family: 'roboto', serif;*/
            font-weight: 300;
            z-index: 1;
            letter-spacing: 2px;
            font-style: normal;
            padding: 5px 10px;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
          .jumbotron .visual-slide .details .btn-area .btn-view span {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            background-color: #1b1b1d;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
          .jumbotron .visual-slide .details .btn-area .btn-view:hover i {
            color: #fff; }
          .jumbotron .visual-slide .details .btn-area .btn-view:hover span {
            width: 100%; }
    .jumbotron .visual-slide .details-2 {
      position: relative;
      z-index: 1;
      margin-top: -50%;
      width: 100%;
      padding-bottom: 50px;
      text-align: center; }
      .jumbotron .visual-slide .details-2 figure {
        padding: 0 25%; }
        .jumbotron .visual-slide .details-2 figure .img-fluid {
          position: relative;
          top: -30px;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 1s;
          transition-duration: 1s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          opacity: 0;
          width: 100%;
          display: inline-block; }
      .jumbotron .visual-slide .details-2 h3 {
        position: relative;
        top: -30px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 1.5s;
        transition-delay: 1.5s;
        opacity: 0;
        font-size: 23px;
        font-weight: bold;
        line-height: 32px;
        color: #333; }
        @media (min-width: 768px) {
          .jumbotron .visual-slide .details-2 h3 {
            transform: scale(1.2); } }
      .jumbotron .visual-slide .details-2 p {
        position: relative;
        top: -30px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 1s;
        transition-delay: 1s;
        opacity: 0;
        font-size: 16px;
        color: #555;
        font-weight: 300;
        line-height: 18px;
        margin-top: 90px;
        margin-bottom: 15px; }
      .jumbotron .visual-slide .details-2 .btn-area {
        position: relative;
        top: -30px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 2s;
        transition-delay: 2s;
        opacity: 0;
        margin-top: 15px; }
        .jumbotron .visual-slide .details-2 .btn-area .btn-view {
          position: relative;
          display: inline-block; }
          .jumbotron .visual-slide .details-2 .btn-area .btn-view i {
            position: relative;
            display: block;
            font-size: 10px;
            color: #1b1b1d;
            font-family: 'roboto','Noto Sans KR', sans-serif;
            /*font-family: 'roboto', serif;*/
            font-weight: 300;
            z-index: 1;
            letter-spacing: 2px;
            font-style: normal;
            padding: 5px 10px;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
          .jumbotron .visual-slide .details-2 .btn-area .btn-view span {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            background-color: #1b1b1d;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
          .jumbotron .visual-slide .details-2 .btn-area .btn-view:hover i {
            color: #fff; }
          .jumbotron .visual-slide .details-2 .btn-area .btn-view:hover span {
            width: 100%; }
    .jumbotron .visual-slide.action .details figure .img-fluid {
      top: 0;
      opacity: 1; }
    .jumbotron .visual-slide.action .details h3 {
      top: 0;
      opacity: 1; }
    .jumbotron .visual-slide.action .details p {
      top: 0;
      opacity: 1; }
    .jumbotron .visual-slide.action .details .btn-area {
      top: 0;
      opacity: 1; }
    .jumbotron .visual-slide.action .details-2 figure .img-fluid {
      top: 0;
      opacity: 1; }
    .jumbotron .visual-slide.action .details-2 h3 {
      top: 0;
      opacity: 1; }
    .jumbotron .visual-slide.action .details-2 p {
      top: 0;
      opacity: 1; }
    .jumbotron .visual-slide.action .details-2 .btn-area {
      top: 0;
      opacity: 1; }
    .jumbotron .visual-slide.circulator .details figure {
      padding: 0 16%; }

.best-product {
  padding-bottom: 50px;
  background-color: #f5f5f5; }
  .best-product ul {
    position: relative; }
    .best-product ul .slick-arrow {
      position: absolute;
      top: 50%;
      border: 0;
      padding: 0;
      z-index: 1;
      cursor: pointer;
      background: none;
      font-size: 16px;
      color: #9d9d9d; }
      .best-product ul .slick-arrow.slick-prev {
        left: 10px; }
      .best-product ul .slick-arrow.slick-next {
        right: 10px; }
    .best-product ul li a {
      display: block;
      outline: none; }
      .best-product ul li a h3 {
        font-family: 'roboto','Noto Sans KR', sans-serif;
        /*font-family: 'roboto', serif;*/
        font-weight: 300;
        font-size: 10px;
        color: #1b1b1d;
        letter-spacing: 2px;
        margin-bottom: 10px; }
        .best-product ul li a h3 b {
          font-size: 16px;
          font-weight: 500;
          display: inline-block;
          margin-right: 5px; }
      .best-product ul li a figure {
        background-color: #fff;
        padding: 15px 0; }

.airest-event {
  padding: 30px 0;
  background-color: #fcfcfc; }
  .airest-event article {
    margin-bottom: 10px; }
    .airest-event article > a {
      display: block; }
      .airest-event article > a figure .img-fluid {
        width: 100%; }
  .airest-event .event-btn {
    width: 100%; }
    .airest-event .event-btn .btn-more {
      display: block;
      width: 100%;
      font-size: 10px;
      color: #1b1b1d;
      font-family: 'roboto','Noto Sans KR', sans-serif;
      /*font-family: 'roboto', serif;*/
      font-weight: 300;
      text-align: center;
      line-height: 33px;
      letter-spacing: 3px;
      border: 1px solid #dfdfdf;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .airest-event .event-btn .btn-more:hover {
        color: #fff;
        border-color: #1b1b1d;
        background-color: #1b1b1d; }

.video-area a {
  position: relative;
  width: 100%;
  display: block; }
  .video-area a figure .img-fluid {
    width: 100%; }
  .video-area a .play {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -18px 0 0 -18px;
    width: 36px;
    height: 36px;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .video-area a .play .icon-play {
      position: relative;
      left: 2px;
      font-size: 20px; }
  .video-area a:hover .play {
    color: #1b1b1d;
    border-color: #1b1b1d; }

.sns-list {
  padding: 30px 0; }
  .sns-list ul > li > a {
    position: relative;
    display: block; }
    .sns-list ul > li > a figure > .img-fluid {
      width: 100%; }
    .sns-list ul > li > a .icon {
      position: absolute;
      bottom: 10px;
      left: 10px;
      display: block;
      line-height: 0; }
      .sns-list ul > li > a .icon img {
        width: 20px;
        height: auto; }
    .sns-list ul > li > a .details {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 15px 10px; }
      .sns-list ul > li > a .details b {
        font-size: 10px;
        color: #666;
        @incude roboto();
        font-weight: 500;
        margin-bottom: 15px; }
      .sns-list ul > li > a .details > .summary {
        font-size: 12px;
        color: #00bd39;
        font-weight: 400;
        line-height: 16px; }

.mCustomScrollbar,
.mCustomScrollbar.mCS_touch_action,
.mCustomScrollbar.mCS_touch_action .mCS-aviva.mCSB_scrollTools {
  -ms-touch-action: auto;
  touch-action: auto; }

.mCustomScrollBox {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.mCustomScrollBox.mCSB_vertical_horizontal {
  -ms-touch-action: auto;
  touch-action: auto; }

.mCustomScrollBox.mCSB_horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.promotional {
  position: relative; }
  .promotional .mCSB_container {
    margin-bottom: 0 !important; }
  .promotional .mCSB_scrollTools {
    margin-bottom: 15px;
    opacity: 1 !important; }
  .promotional .mCSB_draggerContainer {
    left: 0;
    max-width: 250px;
    margin: 0 auto;
    /*.mCSB_draggerRail {
        margin: 15px 0 !important;
    }*/ }
  .promotional .mCSB_draggerRail {
    background-color: #4e4b51 !important; }
  .promotional .mCSB_dragger {
    max-width: 16px !important; }
    .promotional .mCSB_dragger .mCSB_dragger_bar {
      display: block;
      width: 16px !important;
      height: 16px !important;
      opacity: 1 !important;
      margin: 0 !important;
      background-color: #0baded !important;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35) !important; }
  .promotional .product {
    position: absolute;
    display: inline-block;
    z-index: 1;
    opacity: 0;
    outline: none; }
    .promotional .product .item {
      position: relative; }
      .promotional .product .item .circle {
        position: absolute;
        left: 50%;
        margin-left: -5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #0baded;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .promotional .product .item .circle.on {
          opacity: .7;
          box-shadow: 0px 0px 5px 2px #0baded; }
    .promotional .product.product-1 {
      top: 106px;
      left: 257px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .promotional .product.product-1 .item .circle {
        top: 13px; }
    .promotional .product.product-2 {
      top: 221px;
      left: 566px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .promotional .product.product-2 .item .circle {
        top: 18px;
        margin-left: -6px; }
    .promotional .product.product-3 {
      top: 217px;
      left: 867px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .promotional .product.product-3 .item .circle {
        top: 6px;
        margin-left: -5px; }
    .promotional .product.product-4 {
      top: 286px;
      left: 913px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .promotional .product.product-4 .item .circle {
        top: 12px; }
    .promotional .product.action {
      opacity: 1; }
      .promotional .product.action.product-1 {
        top: 156px; }
      .promotional .product.action.product-2 {
        top: 271px; }
      .promotional .product.action.product-3 {
        top: 267px; }
      .promotional .product.action.product-4 {
        top: 336px; }
  .promotional .details {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 40px 0 0 20px;
    text-align: left; }
    .promotional .details .title {
      position: relative;
      top: -30px;
      opacity: 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      font-size: 30px;
      color: #1b1b1d; }
      .promotional .details .title span {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #1b1b1d;
        display: block; }
      .promotional .details .title > p {
        position: relative;
        line-height: 50px;
        display: inline-block; }
        .promotional .details .title > p i {
          position: relative;
          display: inline-block;
          font-style: normal;
          padding: 0 10px; }
          .promotional .details .title > p i:before {
            position: absolute;
            top: 0;
            left: 0;
            content: "["; }
          .promotional .details .title > p i:after {
            position: absolute;
            top: 0;
            right: 0;
            content: "]"; }
      .promotional .details .title strong {
        position: relative;
        display: inline-block; }
    .promotional .details .summary {
      position: relative;
      top: -30px;
      opacity: 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      font-size: 10px;
      line-height: 16px;
      font-weight: 400;
      margin-top: 20px;
      color: #1b1b1d; }
    .promotional .details.action .title {
      top: 0;
      opacity: 1; }
    .promotional .details.action .summary {
      top: 0;
      opacity: 1; }
  .promotional.active {
    top: 0;
    opacity: 1; }

.modal-open {
  padding-right: 0 !important; }

.modal {
  padding-right: 0 !important; }
  .modal .modal-dialog {
    margin-top: 100px;
    margin-bottom: 100px; }
    .modal .modal-dialog .modal-content {
      border: 0;
      border-radius: 0;
      background: none; }
      .modal .modal-dialog .modal-content .modal-header {
        padding: 0;
        border: 0;
        padding-bottom: 15px; }
        .modal .modal-dialog .modal-content .modal-header .modal-close {
          padding: 0;
          opacity: 1;
          color: #fff;
          margin: 0 0 0 auto; }
      .modal .modal-dialog .modal-content .modal-body {
        padding: 0;
        border: 0; }
      .modal .modal-dialog .modal-content .modal-footer label {
        font-weight: 400;
        color: #fff; }
        .modal .modal-dialog .modal-content .modal-footer label input {
          position: relative;
          top: 2px;
          margin-right: 5px; }
  .modal.product-modal .modal-dialog {
    margin-top: 40px; }
    .modal.product-modal .modal-dialog .modal-content .modal-body {
      background-color: #fff; }
      .modal.product-modal .modal-dialog .modal-content .modal-body .summary {
        padding: 20px 30px; }
        .modal.product-modal .modal-dialog .modal-content .modal-body .summary small {
          font-size: 10px;
          color: #999;
          font-weight: 400;
          font-family: 'roboto','Noto Sans KR', sans-serif;
          /*font-family: 'roboto', serif;*/ }
        .modal.product-modal .modal-dialog .modal-content .modal-body .summary h4 {
          font-size: 17px;
          font-weight: 300;
          letter-spacing: 1px;
          margin-top: 10px;
          color: #1b1b1d; }
          .modal.product-modal .modal-dialog .modal-content .modal-body .summary h4 i {
            font-style: normal;
            font-weight: lighter;
            font-weight: 400;
            font-family: 'roboto','Noto Sans KR', sans-serif;
            /*font-family: 'roboto', serif;*/ }
        .modal.product-modal .modal-dialog .modal-content .modal-body .summary hr {
          display: block;
          border-top: 2px solid #1b1b1d;
          width: 25px;
          margin: 15px 0; }
        .modal.product-modal .modal-dialog .modal-content .modal-body .summary p {
          font-size: 12px;
          color: #666;
          line-height: 16px; }
        .modal.product-modal .modal-dialog .modal-content .modal-body .summary .details-more {
          margin-top: 20px; }
          .modal.product-modal .modal-dialog .modal-content .modal-body .summary .details-more > li > a {
            position: relative;
            font-size: 12px;
            color: #666;
            line-height: 24px;
            padding-left: 18px; }
            .modal.product-modal .modal-dialog .modal-content .modal-body .summary .details-more > li > a:before {
              position: absolute;
              top: -2px;
              left: 0;
              font-family: "fontello";
              display: inline-block;
              margin-right: 5px; }
          .modal.product-modal .modal-dialog .modal-content .modal-body .summary .details-more > li:nth-of-type(1) a:before {
            content: "\F097"; }
          .modal.product-modal .modal-dialog .modal-content .modal-body .summary .details-more > li:nth-of-type(2) a:before {
            content: "\E806"; }
      .modal.product-modal .modal-dialog .modal-content .modal-body .product-sldier {
        position: relative; }
        .modal.product-modal .modal-dialog .modal-content .modal-body .product-sldier .slick-dots {
          position: absolute;
          bottom: 20px;
          left: 0;
          width: 100%;
          height: 12px;
          text-align: center; }
          .modal.product-modal .modal-dialog .modal-content .modal-body .product-sldier .slick-dots > li {
            display: inline-block; }
            .modal.product-modal .modal-dialog .modal-content .modal-body .product-sldier .slick-dots > li > button {
              display: block;
              width: 12px;
              height: 12px;
              margin: 0 3px;
              padding: 0;
              text-indent: -9999px;
              border-radius: 50%;
              background: none;
              border: 1px solid #fff; }
            .modal.product-modal .modal-dialog .modal-content .modal-body .product-sldier .slick-dots > li.slick-active > button {
              background-color: #fff; }

/*# sourceMappingURL=main.css.map */
