@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype"); }
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

figure {
  margin: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.container {
  max-width: 100% !important;
  padding: 0 10px !important; }
  .container .row {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }

.story {
  padding: 0; }
  .story .page-header {
    text-align: center;
    padding: 160px 0 95px;
    background-image: url(/mobile/assets/images/story/bg_story_page_header.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; }
    .story .page-header h2 {
      position: relative;
      top: -30px;
      opacity: 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      font-size: 25px;
      color: #1b1b1d;
      font-weight: lighter; }
      .story .page-header h2 img {
        width: 141px;
        display: block;
        margin: 0 auto 10px; }
    .story .page-header hr {
      position: relative;
      top: -30px;
      opacity: 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s;
      width: 40px;
      border-top: 1px solid #1b1b1d;
      margin: 20px auto; }
    .story .page-header p {
      position: relative;
      top: -30px;
      opacity: 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0.6s;
      transition-delay: 0.6s;
      font-size: 11px;
      color: #1b1b1d;
      font-weight: 300;
      line-height: 16px; }
    .story .page-header.on h2 {
      top: 0;
      opacity: 1; }
    .story .page-header.on hr {
      top: 0;
      opacity: 1; }
    .story .page-header.on p {
      top: 0;
      opacity: 1; }
  .story #content {
    padding: 0; }

.brand-story {
  position: relative; }
  .brand-story > .a-bg {
    position: absolute;
    top: 25%;
    left: 10px;
    width: 50%;
    z-index: 1; }
    .brand-story > .a-bg .img-fluid {
      position: relative;
      top: -50px;
      opacity: 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
    .brand-story > .a-bg.action .img-fluid {
      top: 0;
      opacity: 1; }

.story-intro {
  position: relative;
  margin: 30px 0;
  overflow: hidden; }
  .story-intro figure {
    padding-right: 15%; }
    .story-intro figure .img-fluid {
      position: relative;
      left: -50px;
      opacity: 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
    .story-intro figure.on .img-fluid {
      left: 0;
      opacity: 1; }
    .story-intro figure.a-bg {
      padding: 0;
      position: absolute;
      top: 100%;
      left: 10px; }
  .story-intro .intro-title {
    position: relative;
    margin-top: -30%;
    text-align: right;
    padding-right: 20px; }
    .story-intro .intro-title h3 {
      position: relative;
      top: -30px;
      display: inline-block;
      font-size: 20px;
      color: #1b1b1d;
      font-weight: lighter;
      line-height: 26px;
      padding-left: 35px;
      opacity: 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .story-intro .intro-title h3:before {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0;
        width: 1px;
        display: block;
        content: "";
        background-color: #1b1b1d;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 1s;
        transition-delay: 1s; }
    .story-intro .intro-title.action h3 {
      top: 0;
      opacity: 1; }
      .story-intro .intro-title.action h3:before {
        height: 100px; }

.details {
  position: relative;
  padding-top: 45px;
  margin-bottom: 30px;
  overflow: hidden; }
  .details .summary {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1;
    text-align: left; }
    .details .summary p {
      position: relative;
      top: -30px;
      opacity: 0;
      font-size: 11px;
      color: #666;
      font-weight: 300;
      z-index: 1;
      line-height: 18px; }
      .details .summary p:nth-of-type(1) {
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
      .details .summary p:nth-of-type(2) {
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0.6s;
        transition-delay: 0.6s; }
    .details .summary strong {
      position: relative;
      top: -30px;
      opacity: 0;
      font-size: 15px;
      color: #1b1b1d;
      line-height: 20px;
      font-weight: 500;
      z-index: 1;
      display: inline-block;
      margin: 20px 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s; }
    .details .summary.action p {
      top: 0;
      opacity: 1; }
    .details .summary.action strong {
      top: 0;
      opacity: 1; }
  .details figure {
    float: right;
    padding-left: 40%; }
    .details figure .img-fluid {
      position: relative;
      right: -50px;
      opacity: 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
    .details figure.action .img-fluid {
      right: 0;
      opacity: 1; }

.section-2 {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url(/mobile/assets/images/story/bg_section2.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  .section-2 .details {
    position: absolute;
    top: 66px;
    left: 50%;
    margin-left: -105px;
    width: 210px;
    height: 186px;
    padding-top: 35px;
    text-align: center; }
    .section-2 .details h4 {
      position: relative;
      top: -30px;
      opacity: 0;
      font-size: 25px;
      color: #000;
      letter-spacing: -1px;
      font-weight: lighter;
      display: inline-block;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .section-2 .details h4 strong {
        font-weight: bold;
        margin-top: 10px; }
    .section-2 .details .btn-area {
      position: relative;
      top: -30px;
      opacity: 0;
      top: -30px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0.5s;
      transition-delay: 0.5s;
      margin-top: 25px; }
      .section-2 .details .btn-area p .btn-more {
        display: inline-block;
        width: 120px;
        height: 35px;
        font-size: 12px;
        line-height: 33px;
        border: 1px solid #666;
        text-align: center;
        color: #000; }
  .section-2.action .details h4 {
    top: 0;
    opacity: 1; }
  .section-2.action .details .btn-area {
    top: 0;
    opacity: 1; }

/*# sourceMappingURL=story.css.map */
