@import 'common';

#header {
    .logo {
        a {
            .default {
                display: none !important;
            }
            .scrolled-logo {
                display: block !important;
            }
        }
    }
    .btn-nav {
        span {
            &.bar {
                background-color: #000;
            }
        }
    }
}