@import 'common';

.customer {
    
}

// 자주묻는질문
.faq-list {
    .section-content {
        .lnb-menu {
            margin-top: 60px;
        }
        .board-type1 {
            margin-top: 30px;
        }
        .paging {
            margin-top: 60px;
        }
    }
}

// 1:1 문의 쓰기
.inquiry-write {
    .section-content {
        .btn-area {
            text-align: right;
            padding-right: 15px;
            margin-top: 30px;
        }
        .privacy {
            padding: 60px 0 30px;
            h3 {
                font-size: 18px;
                color: #333;
                font-weight: 500;
                margin-bottom: 30px;
            }
            .privacy-content {
                font-size: 13px;
                color: #666;
                line-height: 26px;
                font-weight: 300;
                height: 200px;
                padding: 30px;
                overflow-y: scroll;
                background-color: #f3f5fa;
            }
            label {
                font-size: 13px;
                color: #333;
                margin-top: 15px;
                float: right;
                input {
                    position: relative;
                    top: 2px;
                }
            }
        }
    }
}

// 1:1 문의 리스트
.inquiry-list {
	.section-content {
		.board-type4 {
			.btn-area {
				text-align: right;
				margin-top: 40px;
			}
			.paging {
				margin-top: 60px;
			}
		}
	}
}

// 1:1 문의 뷰
.inquiry-view {
	.section-content {
		.btn-area {
			text-align: right;
			padding-right: 15px;
			margin-top: 30px;
		}
		.page-more {
			margin-top: 50px;
		}
	}
}

// 1:1 비밀번호 확인
.inquiry-confirm {
	.section-content {
		.pw-form {
			text-align: center;
			padding: 100px 0;
			border: 1px solid #ccc;
			.form {
				overflow: hidden;
                width: 430px;
                margin: 0 auto;
				figure {
					margin-bottom: 50px;
					.img-fluid {
						width: 71px;
					}
					figcaption {
						margin-bottom: 30px;
						h4 {
							font-size: 30px;
							font-weight: 300;
							color: #111;
                            margin: 30px 0 25px;
						}
						p {
							font-size: 15px;
							color: #666;
							line-height: 24px;
						}
					}
				}
				.form-group {
					float: left;
                    width: 280px;
                    margin-right: 10px;
					.form-control {
						height: 50px;
						border: 1px solid #f3f5fa;
						background-color: #f3f5fa;
					}
				}
				.btn-area {
					margin: 0;
                    float: left;
                    width: 140px;
					p {
						.btn-default {
							display: inline-block;
							width: 100%;
							font-size: 16px;
                            line-height: 50px;
							color: #fff;
							@include transition();
							background-color: #333;
							&:hover {
								opacity: .7;
							}
						}
					}
				}
			}
		}
	}
}

//  제품사용 설명서
.manual {
    .section-content {
        .search-form {
            width: 630px;
        }
        .lnb-menu {
            margin-top: 60px;
        }
        .board-type2 {
            margin-top: 30px;
        }
        .paging {
            margin-top: 60px;
        }
    }
}

// 동영상 설명서
.video-manual {
    .section-content {
        .board-type3 {
            margin-top: 50px;
        }
        .paging {
            margin-top: 60px;
        }
        .search-type2 {
            margin-top: 60px;
        }
    }
}
// modal popup
.modal {
    .modal-dialog {
        max-width: 1030px;
        margin-top: 150px;
        .modal-content {
            border: 0;
            border-radius: 0;
            background: none;
            .modal-header {
                padding: 0;
                border: 0;
                padding-bottom: 15px;
                .modal-close {
                    padding: 0;
                    margin: 0 0 0 auto;
                    opacity: 1;
                }
            }
            .modal-body {
                padding: 0;
                border: 0;
            }
        }
    }
}

// 공지사항
.notice-list {
    .section-content {
        .board-type4 {
            margin-top: 50px;
        }
        .paging {
            margin-top: 60px;
        }
    }
}

// 공지사항 뷰
.notice-view {
    .section-content {
        .board-view {
            margin-top: 50px;
        }
        .btn-area {
            text-align: right;
            padding-right: 15px;
            margin-top: 30px;
        }
        .page-more {
            margin-top: 50px;
        }
    }
}

// 고객센터
.sub-jumbo-visual {
    width: 100%;
    height: 915px;
    background-image: url(/assets/images/customer/sub_jumbo_visual.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-top: 180px;
    text-align: left;
    .cs-center {
        h2 {
            font-size: 80px;
            @include roboto();
            font-weight: lighter;
            color: #1b1b1d;
            letter-spacing: 5px;
            small {
                font-size: 20px;
                color: #1b1b1d;
                font-weight: 400;
                display: block;
                letter-spacing: 0;
                margin-bottom: 20px;
                @include noto();
            }
        }
        dl {
            margin-top: 20px;
            overflow: hidden;
            dt {
                float: left;
                clear: both;
                width: 100px;
                font-size: 14px;
                color: #1b1b1d;
                line-height: 30px;
                font-weight: 400;
            }
            dd {
                font-size: 14px;
                color: #666;
                line-height: 30px;
                font-weight: 500;
                display: block;
                @include roboto();
                span {
                    position: relative;
                    top: 1px;
                    @include noto();
                }
            }
        }
        .attention {
            font-size: 14px;
            color: #666;
            margin-top: 20px;
            &:before {
                content: "※ ";
            }
        }
    }
}
.as-delivery {
    padding-bottom: 0 !important;
    article {
        padding: 100px 0;
        h3 {
            font-size: 28px;
            color: #1b1b1d;
            font-weight: 300;
            margin-bottom: 40px;
        }
        &.delivery {
            background-color: #fff;
        }
        &.return-exchange {
            background-color: #f5f5f5;
        }
        dl {
            overflow: hidden;
            dt {
                width: 170px;
                float: left;
                clear: both;
                font-size: 15px;
                color: #1b1b1d;
                font-weight: 300;
                line-height: 36px;
            }
            dd {
                display: block;
                font-size: 15px;
                color: #666;
                line-height: 36px;
            }
        }
        .attention-list {
            > li {
                font-size: 13px;
                color: #999;
                line-height: 28px;
                font-weight: 400;
                &:before {
                    content: "※ ";
                }
            }
        }
        .dashed-list {
            > li {
                font-size: 14px;
                color: #666;
                line-height: 28px;
                font-weight: 300;
                b {
                    font-weight: 400;
                    color: #1b1b1d;
                }
                &:before {
                    content: "- ";
                    margin-right: 5px;
                }
            }
        }
    }
}
// genuine 
.genuine {
    .section-content {
        .table-wrap {
            .table {
                margin: 0;
                border: 0;
                border-top: 2px solid #666;
                tbody {
                    tr {
                        th {
                            font-size: 15px;
                            color: #1b1b1d;
                            width: 185px;
                            font-weight: 400;
                            vertical-align: middle;
                            padding-left: 15px;
                            border: 0;
                            border-bottom: 1px solid #dfdfdf;
                            label {
                                font-weight: 400;
                            }
                        }
                        td {
                            font-size: 14px;
                            color: #666;
                            vertical-align: middle;
                            border: 0;
                            border-bottom: 1px solid #dfdfdf;
                            b {
                                color: #ed1c24;
                                font-weight: 400;
                            }
                            .form-group {
                                .form-control {
                                    display: inline-block;
                                    height: 40px;
                                    border: 1px solid #f5f5f5;
                                    background-color: #f5f5f5;
                                }
                                .note {
                                    display: inline-block;
                                    font-size: 14px;
                                    color: #666;
                                    font-weight: 300;
                                    margin-left: 15px;
                                }
                                select {
                                    width: 130px;
                                    margin: 0 10px;
                                    &:first-child {
                                        margin-left: 0;
                                    }
                                }
                            }
                            &.p-num {
                                .form-group {
                                    .form-control {
                                        width: 370px;
                                    }
                                }
                            }
                            &.email {
                                .form-group {
                                    .form-control {
                                        width: 300px;
                                    }
                                }
                            }
							&.confirm {
                                .form-group {
									float: left;
                                    .form-control {
                                        width: 300px;
                                    }
                                }
								> .btn-area {
									float: left;
									display: inline-block;
									margin-top: 0;
									margin-left: 20px;
									p {
										.btn {
											width: 120px;
											line-height: 38px;
											font-size: 14px;
										}
									}
								}
                            }
                            &.vendor {
                                .form-group {
                                    select {
                                        width: 200px;
                                    }
                                    input {
                                        width: 290px;
                                    }
                                }
                            }
                        }
                        &:last-child {
                            th {
                                border-color: #aaa;
                            }
                            td {
                                border-color: #aaa;
                            }
                        }
                    }
                }
            }
        }
        .privacy {
            padding: 60px 0 30px;
            h3 {
                font-size: 18px;
                color: #333;
                font-weight: 500;
                margin-bottom: 30px;
            }
            .privacy-content {
                font-size: 13px;
                color: #666;
                line-height: 26px;
                font-weight: 300;
                height: 200px;
                padding: 30px;
                overflow-y: scroll;
                background-color: #f3f5fa;
            }
            label {
                font-size: 13px;
                color: #333;
                margin-top: 15px;
                float: right;
                input {
                    position: relative;
                    top: 2px;
                }
            }
        }
        .explanation {
			padding: 25px 0 35px;
            background-color: #f5f5f5;
            figure {
				padding: 9px 0 8px;
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
            .summary {
                h4 {
                    font-size: 14px;
                    color: #333;
                    font-weight: 500;
                    margin-bottom: 25px;
                }
                ol {
                    li {
                        font-size: 14px;
                        color: #666;
                        font-weight: 300;
                        line-height: 28px;
                        list-style: decimal;
                        list-style-position: inside;
                    }
                }
            }
        }
        .register-form {
            margin-top: 30px;
            .btn-area {
                text-align: center;
                margin-top: 50px;
                p {
                    .btn-md {
                        width: 200px;
                    }
                }
            }
        }
        .attention {
            margin-top: 50px;
            padding: 30px;
            border: 1px solid #ccc;
            h4 {
                font-size: 14px;
                color: #333;
                font-weight: 500;
            }
            ol {
                margin-top: 30px;
                li {
                    font-size: 14px;
                    color: #666;
                    line-height: 28px;
                    font-weight: 300;
                    list-style: decimal;
                    list-style-position: inside;
                }
            }
        }
        .product-info {
            margin-top: 60px;
            .table-wrap {
                .table {
                    tbody {
                        tr {
                            td {
                                color: #666;
                                height: 60px;
                            }
                        }
                    }
                }
            }
        }
    }
}


// privacy
.privacy {
    .section-content {
        .terms {
            width: 100%;
            height: 600px;
            font-size: 13px;
            color: #666;
            overflow-y: scroll;
            line-height: 26px;
            padding: 30px;
            word-break: keep-all;
            background-color: #f3f5fa;
        }
    }
}




















