@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.container {
  max-width: 1200px !important; }

.faq-list .section-content .lnb-menu {
  margin-top: 60px; }
.faq-list .section-content .board-type1 {
  margin-top: 30px; }
.faq-list .section-content .paging {
  margin-top: 60px; }

.inquiry-write .section-content .btn-area {
  text-align: right;
  padding-right: 15px;
  margin-top: 30px; }
.inquiry-write .section-content .privacy {
  padding: 60px 0 30px; }
  .inquiry-write .section-content .privacy h3 {
    font-size: 18px;
    color: #333;
    font-weight: 500;
    margin-bottom: 30px; }
  .inquiry-write .section-content .privacy .privacy-content {
    font-size: 13px;
    color: #666;
    line-height: 26px;
    font-weight: 300;
    height: 200px;
    padding: 30px;
    overflow-y: scroll;
    background-color: #f3f5fa; }
  .inquiry-write .section-content .privacy label {
    font-size: 13px;
    color: #333;
    margin-top: 15px;
    float: right; }
    .inquiry-write .section-content .privacy label input {
      position: relative;
      top: 2px; }

.inquiry-list .section-content .board-type4 .btn-area {
  text-align: right;
  margin-top: 40px; }
.inquiry-list .section-content .board-type4 .paging {
  margin-top: 60px; }

.inquiry-view .section-content .btn-area {
  text-align: right;
  padding-right: 15px;
  margin-top: 30px; }
.inquiry-view .section-content .page-more {
  margin-top: 50px; }

.inquiry-confirm .section-content .pw-form {
  text-align: center;
  padding: 100px 0;
  border: 1px solid #ccc; }
  .inquiry-confirm .section-content .pw-form .form {
    overflow: hidden;
    width: 430px;
    margin: 0 auto; }
    .inquiry-confirm .section-content .pw-form .form figure {
      margin-bottom: 50px; }
      .inquiry-confirm .section-content .pw-form .form figure .img-fluid {
        width: 71px; }
      .inquiry-confirm .section-content .pw-form .form figure figcaption {
        margin-bottom: 30px; }
        .inquiry-confirm .section-content .pw-form .form figure figcaption h4 {
          font-size: 30px;
          font-weight: 300;
          color: #111;
          margin: 30px 0 25px; }
        .inquiry-confirm .section-content .pw-form .form figure figcaption p {
          font-size: 15px;
          color: #666;
          line-height: 24px; }
    .inquiry-confirm .section-content .pw-form .form .form-group {
      float: left;
      width: 280px;
      margin-right: 10px; }
      .inquiry-confirm .section-content .pw-form .form .form-group .form-control {
        height: 50px;
        border: 1px solid #f3f5fa;
        background-color: #f3f5fa; }
    .inquiry-confirm .section-content .pw-form .form .btn-area {
      margin: 0;
      float: left;
      width: 140px; }
      .inquiry-confirm .section-content .pw-form .form .btn-area p .btn-default {
        display: inline-block;
        width: 100%;
        font-size: 16px;
        line-height: 50px;
        color: #fff;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        background-color: #333; }
        .inquiry-confirm .section-content .pw-form .form .btn-area p .btn-default:hover {
          opacity: .7; }

.manual .section-content .search-form {
  width: 630px; }
.manual .section-content .lnb-menu {
  margin-top: 60px; }
.manual .section-content .board-type2 {
  margin-top: 30px; }
.manual .section-content .paging {
  margin-top: 60px; }

.video-manual .section-content .board-type3 {
  margin-top: 50px; }
.video-manual .section-content .paging {
  margin-top: 60px; }
.video-manual .section-content .search-type2 {
  margin-top: 60px; }

.modal .modal-dialog {
  max-width: 1030px;
  margin-top: 150px; }
  .modal .modal-dialog .modal-content {
    border: 0;
    border-radius: 0;
    background: none; }
    .modal .modal-dialog .modal-content .modal-header {
      padding: 0;
      border: 0;
      padding-bottom: 15px; }
      .modal .modal-dialog .modal-content .modal-header .modal-close {
        padding: 0;
        margin: 0 0 0 auto;
        opacity: 1; }
    .modal .modal-dialog .modal-content .modal-body {
      padding: 0;
      border: 0; }

.notice-list .section-content .board-type4 {
  margin-top: 50px; }
.notice-list .section-content .paging {
  margin-top: 60px; }

.notice-view .section-content .board-view {
  margin-top: 50px; }
.notice-view .section-content .btn-area {
  text-align: right;
  padding-right: 15px;
  margin-top: 30px; }
.notice-view .section-content .page-more {
  margin-top: 50px; }

.sub-jumbo-visual {
  width: 100%;
  height: 915px;
  background-image: url(/assets/images/customer/sub_jumbo_visual.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 180px;
  text-align: left; }
  .sub-jumbo-visual .cs-center h2 {
    font-size: 80px;
    font-family: 'roboto', serif;
    font-weight: lighter;
    color: #1b1b1d;
    letter-spacing: 5px; }
    .sub-jumbo-visual .cs-center h2 small {
      font-size: 20px;
      color: #1b1b1d;
      font-weight: 400;
      display: block;
      letter-spacing: 0;
      margin-bottom: 20px;
      font-family: 'Noto Sans KR', sans-serif; }
  .sub-jumbo-visual .cs-center dl {
    margin-top: 20px;
    overflow: hidden; }
    .sub-jumbo-visual .cs-center dl dt {
      float: left;
      clear: both;
      width: 100px;
      font-size: 14px;
      color: #1b1b1d;
      line-height: 30px;
      font-weight: 400; }
    .sub-jumbo-visual .cs-center dl dd {
      font-size: 14px;
      color: #666;
      line-height: 30px;
      font-weight: 500;
      display: block;
      font-family: 'roboto', serif; }
      .sub-jumbo-visual .cs-center dl dd span {
        position: relative;
        top: 1px;
        font-family: 'Noto Sans KR', sans-serif; }
  .sub-jumbo-visual .cs-center .attention {
    font-size: 14px;
    color: #666;
    margin-top: 20px; }
    .sub-jumbo-visual .cs-center .attention:before {
      content: "※ "; }

.as-delivery {
  padding-bottom: 0 !important; }
  .as-delivery article {
    padding: 100px 0; }
    .as-delivery article h3 {
      font-size: 28px;
      color: #1b1b1d;
      font-weight: 300;
      margin-bottom: 40px; }
    .as-delivery article.delivery {
      background-color: #fff; }
    .as-delivery article.return-exchange {
      background-color: #f5f5f5; }
    .as-delivery article dl {
      overflow: hidden; }
      .as-delivery article dl dt {
        width: 170px;
        float: left;
        clear: both;
        font-size: 15px;
        color: #1b1b1d;
        font-weight: 300;
        line-height: 36px; }
      .as-delivery article dl dd {
        display: block;
        font-size: 15px;
        color: #666;
        line-height: 36px; }
    .as-delivery article .attention-list > li {
      font-size: 13px;
      color: #999;
      line-height: 28px;
      font-weight: 400; }
      .as-delivery article .attention-list > li:before {
        content: "※ "; }
    .as-delivery article .dashed-list > li {
      font-size: 14px;
      color: #666;
      line-height: 28px;
      font-weight: 300; }
      .as-delivery article .dashed-list > li b {
        font-weight: 400;
        color: #1b1b1d; }
      .as-delivery article .dashed-list > li:before {
        content: "- ";
        margin-right: 5px; }

.genuine .section-content .table-wrap .table {
  margin: 0;
  border: 0;
  border-top: 2px solid #666; }
  .genuine .section-content .table-wrap .table tbody tr th {
    font-size: 15px;
    color: #1b1b1d;
    width: 185px;
    font-weight: 400;
    vertical-align: middle;
    padding-left: 15px;
    border: 0;
    border-bottom: 1px solid #dfdfdf; }
    .genuine .section-content .table-wrap .table tbody tr th label {
      font-weight: 400; }
  .genuine .section-content .table-wrap .table tbody tr td {
    font-size: 14px;
    color: #666;
    vertical-align: middle;
    border: 0;
    border-bottom: 1px solid #dfdfdf; }
    .genuine .section-content .table-wrap .table tbody tr td b {
      color: #ed1c24;
      font-weight: 400; }
    .genuine .section-content .table-wrap .table tbody tr td .form-group .form-control {
      display: inline-block;
      height: 40px;
      border: 1px solid #f5f5f5;
      background-color: #f5f5f5; }
    .genuine .section-content .table-wrap .table tbody tr td .form-group .note {
      display: inline-block;
      font-size: 14px;
      color: #666;
      font-weight: 300;
      margin-left: 15px; }
    .genuine .section-content .table-wrap .table tbody tr td .form-group select {
      width: 130px;
      margin: 0 10px; }
      .genuine .section-content .table-wrap .table tbody tr td .form-group select:first-child {
        margin-left: 0; }
    .genuine .section-content .table-wrap .table tbody tr td.p-num .form-group .form-control {
      width: 370px; }
    .genuine .section-content .table-wrap .table tbody tr td.email .form-group .form-control {
      width: 300px; }
    .genuine .section-content .table-wrap .table tbody tr td.confirm .form-group {
      float: left; }
      .genuine .section-content .table-wrap .table tbody tr td.confirm .form-group .form-control {
        width: 300px; }
    .genuine .section-content .table-wrap .table tbody tr td.confirm > .btn-area {
      float: left;
      display: inline-block;
      margin-top: 0;
      margin-left: 20px; }
      .genuine .section-content .table-wrap .table tbody tr td.confirm > .btn-area p .btn {
        width: 120px;
        line-height: 38px;
        font-size: 14px; }
    .genuine .section-content .table-wrap .table tbody tr td.vendor .form-group select {
      width: 200px; }
    .genuine .section-content .table-wrap .table tbody tr td.vendor .form-group input {
      width: 290px; }
  .genuine .section-content .table-wrap .table tbody tr:last-child th {
    border-color: #aaa; }
  .genuine .section-content .table-wrap .table tbody tr:last-child td {
    border-color: #aaa; }
.genuine .section-content .privacy {
  padding: 60px 0 30px; }
  .genuine .section-content .privacy h3 {
    font-size: 18px;
    color: #333;
    font-weight: 500;
    margin-bottom: 30px; }
  .genuine .section-content .privacy .privacy-content {
    font-size: 13px;
    color: #666;
    line-height: 26px;
    font-weight: 300;
    height: 200px;
    padding: 30px;
    overflow-y: scroll;
    background-color: #f3f5fa; }
  .genuine .section-content .privacy label {
    font-size: 13px;
    color: #333;
    margin-top: 15px;
    float: right; }
    .genuine .section-content .privacy label input {
      position: relative;
      top: 2px; }
.genuine .section-content .explanation {
  padding: 25px 0 35px;
  background-color: #f5f5f5; }
  .genuine .section-content .explanation figure {
    padding: 9px 0 8px; }
    .genuine .section-content .explanation figure img {
      display: block;
      margin: 0 auto; }
  .genuine .section-content .explanation .summary h4 {
    font-size: 14px;
    color: #333;
    font-weight: 500;
    margin-bottom: 25px; }
  .genuine .section-content .explanation .summary ol li {
    font-size: 14px;
    color: #666;
    font-weight: 300;
    line-height: 28px;
    list-style: decimal;
    list-style-position: inside; }
.genuine .section-content .register-form {
  margin-top: 30px; }
  .genuine .section-content .register-form .btn-area {
    text-align: center;
    margin-top: 50px; }
    .genuine .section-content .register-form .btn-area p .btn-md {
      width: 200px; }
.genuine .section-content .attention {
  margin-top: 50px;
  padding: 30px;
  border: 1px solid #ccc; }
  .genuine .section-content .attention h4 {
    font-size: 14px;
    color: #333;
    font-weight: 500; }
  .genuine .section-content .attention ol {
    margin-top: 30px; }
    .genuine .section-content .attention ol li {
      font-size: 14px;
      color: #666;
      line-height: 28px;
      font-weight: 300;
      list-style: decimal;
      list-style-position: inside; }
.genuine .section-content .product-info {
  margin-top: 60px; }
  .genuine .section-content .product-info .table-wrap .table tbody tr td {
    color: #666;
    height: 60px; }

/*# sourceMappingURL=customer.css.map */
