@import 'common';

// 초기화
body {
    position: relative;
    min-width: 1200px;
    height: 100%;
    @include noto();
    font-size: 13px;
}

a {
    display: block;
    color: inherit;
    text-decoration: none !important;
    &:hover, &:focus {
        color: inherit;
        outline: none;
    }
}

label {
    font-weight: 400;
    margin: 0;
}

figure {
    margin: 0;
}

.form-group {
    margin: 0;
}

.form-control {
    margin: 0;
    border-radius: 0;
    box-shadow: none !important;
}
.btn {
    padding: 0;
    border: 0;
    border-radius: 0;
    background: none;
    box-shadow: none !important;
}

// header
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    z-index: 100;
    min-width: 1200px;
    .nav-open {
        display: inline-block;
        vertical-align: top;
        width: 35px;
        height: 35px;
        margin: 25px 20px 25px 15px;
        .bar {
            display: block;
            margin: 6px auto;
            width: 24px;
            height: 2px;
            background-color: #999;
        }
    }
    h1 {
        display: inline-block;
        line-height: 26px;
        padding: 29px 0 30px;
        a {
            img {
                display: inline-block;
                vertical-align: top;
            }
        }
    }
}

// gnb
#gnb {
    padding-right: 120px;
    > ul {
        font-size: 0;
        text-align: right;
        > li {
            display: inline-block;
            margin: 0 15px;
            font-size: 16px;
            line-height: 84px;
            > a {
                color: #cecfcf;
                font-weight: 500;
                display: inline-block;
                @include maven();
                @include transition();
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    .global-search {
        .form-group {
            position: absolute;
            top: 0;
            right: 0;
            width: 66.666%;
            height: 85px;
            padding-right: 85px;
            .form-control {
                width: 100%;
                height: 85px;
                color: #fff;
                font-size: 13px;
                border: 1px solid #1b1b1d;
                background-color: #1b1b1d;
                &::placeholder {
                    color: #fff;
                    opacity: 1;
                }
                &:-ms-input-placeholder {
                    color: #fff;
                }
                &::-ms-input-placeholder {
                    color: #fff;
                }
            }
        }
        .btn-search {
            position: absolute;
            top: 0;
            right: 0;
            width: 85px;
            height: 85px;
            font-size: 20px;
            color: #fff;
            line-height: 85px;
            text-align: center;
            background-color: #1b1b1d;
            &.event-btn {
                display: none;
            }
            &.default-btn {
                display: block;
            }
        }
        &.action {
            .btn-search {
                &.event-btn {
                    display: block;
                }
                &.default-btn {
                    display: none;
                }
            }
        }
    }
}

// footer
#footer {
    padding: 50px 0 40px;
    background-color: #303030;
    .foot-logo {
        display: inline-block;
        line-height: 22px;
        margin-bottom: 30px;
        img {
            display: inline-block;
            vertical-align: top;
        }
    }
    .company {
        > ul {
            overflow: hidden;
            > li {
                float: left;
                font-size: 13px;
                color: #747579;
                &:after {
                    position: relative;
                    top: -2px;
                    font-size: 11px;
                    display: inline-block;
                    margin: 0 8px 0 5px;
                    content: "|";
                }
                &:nth-of-type(4), &:last-child {
                    &:after {
                        content: "";
                        margin: 0;
                    }
                }
                &:nth-of-type(5) {
                    clear: both;
                }
                > dl {
                    display: inline-block;
                    > dt {
                        display: inline-block;
                        font-weight: 400;
                        &:after {
                            content: ":";
                            margin: 0 2px 0 4px;
                        }
                    }
                    > dd {
                        display: inline-block;
                        font-weight: 400;
                        a {
                            display: inline-block;
                            &:hover {
                                text-decoration: underline !important;
                            }
                        }
                    }
                }
            }
        }
        
    }
    .sns-list {
        float: right;
        width: 200px;
        display: table;
        > li {
            display: table-cell;
            width: 20%;
            height: 20px;
            text-align: center;
            vertical-align: middle;
            a {
                width: 20px;
                height: 20px;
                display: inline-block;
                @include transition();
                background-repeat: no-repeat;
                background-position: 50% 50%;
            }
            &.naver-blog {
                a {
                    background-image: url(/assets/images/icon_naver.png);
                    &:hover {
                        background-image: url(/assets/images/icon_naver_on.png);
                    }
                }
            }
            &.facebook {
                a {
                    background-image: url(/assets/images/icon_facbook.png);
                    &:hover {
                        background-image: url(/assets/images/icon_facbook_on.png);
                    }
                }
            }
            &.instagram {
                a {
                    background-image: url(/assets/images/icon_insta.png);
                    &:hover {
                        background-image: url(/assets/images/icon_insta_on.png);
                    }
                }
            }
            &.kakaotalk {
                a {
                    background-image: url(/assets/images/icon_kakao.png);
                    &:hover {
                        background-image: url(/assets/images/icon_kakao_on.png);
                    }
                }
            }
            &.youtube {
                a {
                    background-image: url(/assets/images/icon_youtube.png);
                    &:hover {
                        background-image: url(/assets/images/icon_youtube_on.png);
                    }
                }
            }
        }
    }
    hr {
        display: block;
        width: 100%;
        margin: 30px 15px;
        border-top: 1px solid #484848;
    }
    .capyright {
        font-size: 13px;
        color: #747579;
        font-weight: 500;
        @include roboto();
    }
    .family-site {
        float: right;
        width: 200px;
        @include roboto();
        > .btn {
            position: relative;
            width: 200px;
            height: 35px;
            line-height: 35px;
            font-size: 13px;
            color: #747579;
            text-align: left;
            padding: 0 15px;
            border-radius: 0;
            box-shadow: none !important;
            background-color: #1b1b1d;
            &:after {
                position: absolute;
                top: 0;
                right: 15px;
                content: "\E801";
                font-family: "fontello";
                border: 0;
            }
        }
        .dropdown-menu {
            min-width: 200px;
            margin: 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            box-shadow: none;
            > a {
                font-size: 13px;
                line-height: 35px;
                padding: 0 15px;
            }
        }
        &.show {
            > .btn {
                &:after {
                    content: "\E802";
                }
            }
        }
    }
}

#side-nav {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    width: 0px;
    height: 100%;
    overflow: auto;
    z-index: 100;
    padding-bottom: 100px;
    @include transition();
    background-color: rgba(27, 27, 29, .97);
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        background: none;
        margin-left: 715px;
    }
    .nav-close {
        width: 85px;
        height: 85px;
        text-align: center;
        color: #fff;
        font-size: 20px;
        background-color: #44dbbd;
        background-image: url(/assets/images/main/img_close.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .side-body {
        padding-top: 60px;
        padding-left: 80px;
        .gnb-list {
            > li {
                > a {
                    position: relative;
                    display: inline-block;
                    font-size: 28px;
                    font-weight: 300;
                    color: #fff;
                    line-height: 70px;
                    padding: 0 3px 0 3px;
                    @include roboto();
                    letter-spacing: 1px;
                    @include transition();
                    span {
                        position: absolute;
                        bottom: 15px;
                        left: 50%;
                        width: 0;
                        @include transition();
                        height: 2px;
                        background-color: #c8c8c9;
                    }
                    &:hover {
                        opacity: .7;
                        span {
                            margin-left: -50%;
                            width: 100%;
                        }
                    }
                }
                > ul {
                    display: none;
                    margin: 40px 0;
                    padding-left: 30px;
                    > li {
                        > a {
                            display: inline-block;
                            font-size: 20px;
                            color: #666;
                            font-weight: 300;
                            line-height: 40px;
                            @include transition();
                            &:before {
                                content: "- ";
                            }
                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
                &.active {
                    > a {
                        font-weight: bold;
                        span {
                            margin-left: -50%;
                            width: 100%;
                        }
                        &:hover {
                            opacity: 1;
                        }
                    }
                    > ul {
                        display: block;
                    }
                }
            }
        }
    }
}
.opened {
    overflow: hidden;
    #side-nav {
        left: 0;
        width: 715px;
        .backdrop {
            width: 100%;
            height: 100%;
        }
    }
}

//quick-top
#quick-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 11;
    .btn-top {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        line-height: 50px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        background-color: rgba(48, 48, 48, .4);
        opacity: 0;
        @include transition();
    }
}

// scrolled effect
.scrolled {
    #header {
        background-color: rgba(#fff, .7);
    }
    #gnb {
        > ul {
            > li {
                > a {
                    color: #1b1b1d;
                    &:hover {
                        color: #888;
                    }
                }
            }
        }
    }
    #quick-top {
        .btn-top {
            opacity: 1;
        }
    }
}