@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype"); }
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.container {
  max-width: 1200px !important; }

body {
  position: relative;
  min-width: 1200px;
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px; }

a {
  display: block;
  color: inherit;
  text-decoration: none !important; }
  a:hover, a:focus {
    color: inherit;
    outline: none; }

label {
  font-weight: 400;
  margin: 0; }

figure {
  margin: 0; }

.form-group {
  margin: 0; }

.form-control {
  margin: 0;
  border-radius: 0;
  box-shadow: none !important; }

.btn {
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  box-shadow: none !important; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  z-index: 100;
  min-width: 1200px; }
  #header .nav-open {
    display: inline-block;
    vertical-align: top;
    width: 35px;
    height: 35px;
    margin: 25px 20px 25px 15px; }
    #header .nav-open .bar {
      display: block;
      margin: 6px auto;
      width: 24px;
      height: 2px;
      background-color: #999; }
  #header h1 {
    display: inline-block;
    line-height: 26px;
    padding: 29px 0 30px; }
    #header h1 a img {
      display: inline-block;
      vertical-align: top; }

#gnb {
  padding-right: 120px; }
  #gnb > ul {
    font-size: 0;
    text-align: right; }
    #gnb > ul > li {
      display: inline-block;
      margin: 0 15px;
      font-size: 16px;
      line-height: 84px; }
      #gnb > ul > li > a {
        color: #cecfcf;
        font-weight: 500;
        display: inline-block;
        /*@include maven();*/
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        #gnb > ul > li > a:hover {
          color: #fff; }
  #gnb .global-search .form-group {
    position: absolute;
    top: 0;
    right: 0;
    width: 66.666%;
    height: 85px;
    padding-right: 85px; }
    #gnb .global-search .form-group .form-control {
      width: 100%;
      height: 85px;
      color: #fff;
      font-size: 13px;
      border: 1px solid #1b1b1d;
      background-color: #1b1b1d; }
      #gnb .global-search .form-group .form-control::placeholder {
        color: #fff;
        opacity: 1; }
      #gnb .global-search .form-group .form-control:-ms-input-placeholder {
        color: #fff; }
      #gnb .global-search .form-group .form-control::-ms-input-placeholder {
        color: #fff; }
  #gnb .global-search .btn-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 85px;
    height: 85px;
    font-size: 20px;
    color: #fff;
    line-height: 85px;
    text-align: center;
    background-color: rgba(27, 27, 29, 0.6); }
    #gnb .global-search .btn-search.event-btn {
      display: none; }
    #gnb .global-search .btn-search.default-btn {
      display: block; }
  #gnb .global-search.action .btn-search.event-btn {
    display: block; }
  #gnb .global-search.action .btn-search.default-btn {
    display: none; }

#footer {
  padding: 50px 0 40px;
  background-color: #303030; }
  #footer .foot-logo {
    display: inline-block;
    line-height: 22px;
    margin-bottom: 30px; }
    #footer .foot-logo img {
      display: inline-block;
      vertical-align: top; }
  #footer .company > ul {
    overflow: hidden; }
    #footer .company > ul > li {
      float: left;
      font-size: 13px;
      color: #747579; }
      #footer .company > ul > li:after {
        position: relative;
        top: -2px;
        font-size: 11px;
        display: inline-block;
        margin: 0 8px 0 5px;
        content: "|"; }
      #footer .company > ul > li:nth-of-type(4):after, #footer .company > ul > li:last-child:after {
        content: "";
        margin: 0; }
      #footer .company > ul > li:nth-of-type(5) {
        clear: both; }
      #footer .company > ul > li > dl {
        display: inline-block; }
        #footer .company > ul > li > dl > dt {
          display: inline-block;
          font-weight: 400; }
          #footer .company > ul > li > dl > dt:after {
            content: ":";
            margin: 0 2px 0 4px; }
        #footer .company > ul > li > dl > dd {
          display: inline-block;
          font-weight: 400; }
          #footer .company > ul > li > dl > dd a {
            display: inline-block; }
            #footer .company > ul > li > dl > dd a:hover {
              text-decoration: underline !important; }
  #footer .sns-list {
    float: right;
    width: 200px;
    display: table; }
    #footer .sns-list > li {
      display: table-cell;
      width: 20%;
      height: 20px;
      text-align: center;
      vertical-align: middle; }
      #footer .sns-list > li a {
        width: 20px;
        height: 20px;
        display: inline-block;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        background-repeat: no-repeat;
        background-position: 50% 50%; }
      #footer .sns-list > li.naver-blog a {
        background-image: url(/assets/images/icon_naver.png); }
        #footer .sns-list > li.naver-blog a:hover {
          background-image: url(/assets/images/icon_naver_on.png); }
      #footer .sns-list > li.facebook a {
        background-image: url(/assets/images/icon_facbook.png); }
        #footer .sns-list > li.facebook a:hover {
          background-image: url(/assets/images/icon_facbook_on.png); }
      #footer .sns-list > li.instagram a {
        background-image: url(/assets/images/icon_insta.png); }
        #footer .sns-list > li.instagram a:hover {
          background-image: url(/assets/images/icon_insta_on.png); }
      #footer .sns-list > li.kakaotalk a {
        background-image: url(/assets/images/icon_kakao.png); }
        #footer .sns-list > li.kakaotalk a:hover {
          background-image: url(/assets/images/icon_kakao_on.png); }
      #footer .sns-list > li.youtube a {
        background-image: url(/assets/images/icon_youtube.png); }
        #footer .sns-list > li.youtube a:hover {
          background-image: url(/assets/images/icon_youtube_on.png); }
  #footer hr {
    display: block;
    width: 100%;
    margin: 30px 15px;
    border-top: 1px solid #484848; }
  #footer .capyright {
    font-size: 13px;
    color: #747579;
    font-weight: 500;
    font-family: 'roboto', serif; }
  #footer .family-site {
    float: right;
    width: 200px;
    font-family: 'roboto', serif; }
    #footer .family-site > .btn {
      position: relative;
      width: 200px;
      height: 35px;
      line-height: 35px;
      font-size: 13px;
      color: #747579;
      text-align: left;
      padding: 0 15px;
      border-radius: 0;
      box-shadow: none !important;
      background-color: #1b1b1d; }
      #footer .family-site > .btn:after {
        position: absolute;
        top: 0;
        right: 15px;
        content: "\E801";
        font-family: "fontello";
        border: 0; }
    #footer .family-site .dropdown-menu {
      min-width: 200px;
      margin: 0;
      padding: 0;
      border: 0;
      border-radius: 0;
      box-shadow: none; }
      #footer .family-site .dropdown-menu > a {
        font-size: 13px;
        line-height: 35px;
        padding: 0 15px; }
    #footer .family-site.show > .btn:after {
      content: "\E802"; }

#side-nav {
  position: fixed;
  top: 0;
  left: -100%;
  display: block;
  width: 0px;
  height: 100%;
  overflow: auto;
  z-index: 100;
  padding-bottom: 100px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  background-color: rgba(27, 27, 29, 0.97); }
  #side-nav .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background: none;
    margin-left: 715px; }
  #side-nav .nav-close {
    width: 85px;
    height: 85px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background-color: #44dbbd;
    background-image: url(/assets/images/main/img_close.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%; }
  #side-nav .side-body {
    padding-top: 60px;
    padding-left: 80px; }
    #side-nav .side-body .gnb-list > li > a {
      position: relative;
      display: inline-block;
      font-size: 28px;
      font-weight: 300;
      color: #fff;
      line-height: 70px;
      padding: 0 3px 0 3px;
      /*@include roboto();*/
      letter-spacing: 1px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      #side-nav .side-body .gnb-list > li > a span {
        position: absolute;
        bottom: 15px;
        left: 50%;
        width: 0;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        height: 2px;
        background-color: #c8c8c9; }
      #side-nav .side-body .gnb-list > li > a:hover {
        opacity: .7; }
        #side-nav .side-body .gnb-list > li > a:hover span {
          margin-left: -50%;
          width: 100%; }
    #side-nav .side-body .gnb-list > li > ul {
      display: none;
      margin: 40px 0;
      padding-left: 30px; }
      #side-nav .side-body .gnb-list > li > ul > li > a {
        display: inline-block;
        font-size: 20px;
        color: #666;
        font-weight: 300;
        line-height: 40px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        #side-nav .side-body .gnb-list > li > ul > li > a:before {
          content: "- "; }
        #side-nav .side-body .gnb-list > li > ul > li > a:hover {
          color: #fff; }
    #side-nav .side-body .gnb-list > li.active > a {
      font-weight: 400; }
      #side-nav .side-body .gnb-list > li.active > a span {
        margin-left: -50%;
        width: 100%; }
      #side-nav .side-body .gnb-list > li.active > a:hover {
        opacity: 1; }
    #side-nav .side-body .gnb-list > li.active > ul {
      display: block; }

.opened {
  overflow: hidden; }
  .opened #side-nav {
    left: 0;
    width: 715px; }
    .opened #side-nav .backdrop {
      width: 100%;
      height: 100%; }

#quick-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 11; }
  #quick-top .btn-top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background-color: rgba(48, 48, 48, 0.4);
    opacity: 0;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }

.scrolled #header {
  background-color: rgba(255, 255, 255, 0.7); }
.scrolled #gnb > ul > li > a {
  color: #1b1b1d; }
  .scrolled #gnb > ul > li > a:hover {
    color: #888; }
.scrolled #quick-top .btn-top {
  opacity: 1; }

/*# sourceMappingURL=default.css.map */
