@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.container {
  max-width: 1200px !important; }

#content {
  min-height: 650px; }

.jumbotron {
  position: relative;
  padding: 0;
  margin: 0;
  border-radius: 0 !important;
  box-shadow: none !important;
  background-color: #f3f3f3; }
  .jumbotron .jumbo-slider li {
    /*overflow: hidden;*/
    outline: none; }
    .jumbotron .jumbo-slider li .figbox {
      /*float: right;*/
      width: 100%; }
      .jumbotron .jumbo-slider li .figbox > figure .img-fluid {
        width: 100%; }
    .jumbotron .jumbo-slider li .product {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .jumbotron .jumbo-slider li .product .table-box {
        display: table;
        width: 100%;
        height: 100%; }
        .jumbotron .jumbo-slider li .product .table-box .v-align {
          display: table-cell;
          width: 100%;
          height: 100%;
          vertical-align: middle;
          text-align: center; }
          .jumbotron .jumbo-slider li .product .table-box .v-align figure {
            position: relative;
            top: 50px;
            opacity: 0;
            padding-top: 30px;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 1s;
            transition-duration: 1s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
            @media (min-width: 1400px) {
              .jumbotron .jumbo-slider li .product .table-box .v-align figure {
                padding-top: 60px; } }
            .jumbotron .jumbo-slider li .product .table-box .v-align figure .img-fluid {
              display: inline-block;
              transform: scale(0.7); }
              @media (min-width: 1400px) {
                .jumbotron .jumbo-slider li .product .table-box .v-align figure .img-fluid {
                  transform: scale(0.8); } }
              @media (min-width: 1600px) {
                .jumbotron .jumbo-slider li .product .table-box .v-align figure .img-fluid {
                  transform: scale(1); } }
          .jumbotron .jumbo-slider li .product .table-box .v-align > .details {
            position: absolute;
            top: 50%;
            left: 0;
            height: 430px;
            width: 39%;
            padding-top: 80px;
            text-align: right;
            margin-top: -160px;
            padding-right: 9%; }
            @media (min-width: 1400px) {
              .jumbotron .jumbo-slider li .product .table-box .v-align > .details {
                padding-top: 130px;
                padding-right: 200px; } }
            .jumbotron .jumbo-slider li .product .table-box .v-align > .details > h2 {
              position: relative;
              top: 50px;
              font-size: 60px;
              line-height: 60px;
              color: #1b1b1d;
              letter-spacing: 1px;
              font-weight: lighter;
              font-family: 'roboto', serif;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 1s;
              transition-duration: 1s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 2s;
              transition-delay: 2s;
              opacity: 0; }
              .jumbotron .jumbo-slider li .product .table-box .v-align > .details > h2:after {
                position: absolute;
                right: -100px;
                bottom: 30px;
                content: "";
                width: 80px;
                border-top: 1px solid #1b1b1d; }
                @media (min-width: 1400px) {
                  .jumbotron .jumbo-slider li .product .table-box .v-align > .details > h2:after {
                    display: block;
                    right: -165px;
                    width: 140px; } }
            .jumbotron .jumbo-slider li .product .table-box .v-align > .details > p {
              position: relative;
              top: 50px;
              font-size: 13px;
              color: #999;
              font-weight: 300;
              line-height: 24px;
              margin-top: 40px;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 1s;
              transition-duration: 1s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 2.5s;
              transition-delay: 2.5s;
              opacity: 0; }
            .jumbotron .jumbo-slider li .product .table-box .v-align > .details .btn-area {
              position: relative;
              top: 50px;
              margin-top: 50px;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 1s;
              transition-duration: 1s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 3s;
              transition-delay: 3s;
              opacity: 0; }
              .jumbotron .jumbo-slider li .product .table-box .v-align > .details .btn-area .btn-view {
                position: relative;
                padding: 5px 15px;
                font-weight: 400;
                letter-spacing: 2px;
                font-family: 'roboto', serif;
                border: 1px solid #1b1b1d; }
                .jumbotron .jumbo-slider li .product .table-box .v-align > .details .btn-area .btn-view i {
                  font-size: 12px;
                  color: #1b1b1d;
                  position: relative;
                  z-index: 1;
                  font-style: normal;
                  -webkit-transition-property: all;
                  transition-property: all;
                  -webkit-transition-duration: 0.15s;
                  transition-duration: 0.15s;
                  -webkit-transition-timing-function: linear;
                  transition-timing-function: linear;
                  -webkit-transition-delay: 0s;
                  transition-delay: 0s; }
                .jumbotron .jumbo-slider li .product .table-box .v-align > .details .btn-area .btn-view span {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 0;
                  height: 100%;
                  display: block;
                  -webkit-transition-property: all;
                  transition-property: all;
                  -webkit-transition-duration: 0.15s;
                  transition-duration: 0.15s;
                  -webkit-transition-timing-function: linear;
                  transition-timing-function: linear;
                  -webkit-transition-delay: 0s;
                  transition-delay: 0s;
                  background-color: #1b1b1d; }
                .jumbotron .jumbo-slider li .product .table-box .v-align > .details .btn-area .btn-view:hover i {
                  color: #fff; }
                .jumbotron .jumbo-slider li .product .table-box .v-align > .details .btn-area .btn-view:hover span {
                  width: 100%; }
          .jumbotron .jumbo-slider li .product .table-box .v-align > .details-2 {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            /*position: absolute;
            top: 50%;
            left: 5%;
            height: 430px;
            width: 58%;
            padding-top: 80px;
            text-align: left;
            margin-top: -160px;
            padding-right: 9%;
            @media(min-width: 1400px) {
                padding-top: 130px;
                padding-right: 200px;
            }*/ }
            .jumbotron .jumbo-slider li .product .table-box .v-align > .details-2 > .table-box {
              display: table;
              width: 100%;
              height: 100%;
              padding-left: 10%; }
              .jumbotron .jumbo-slider li .product .table-box .v-align > .details-2 > .table-box > .v-align {
                display: table-cell;
                width: 100%;
                height: 100%;
                vertical-align: middle;
                text-align: left; }
                .jumbotron .jumbo-slider li .product .table-box .v-align > .details-2 > .table-box > .v-align > p {
                  position: relative;
                  top: 50px;
                  font-size: 50px;
                  color: #555;
                  font-weight: 300;
                  line-height: 52px;
                  margin-bottom: 35px;
                  -webkit-transition-property: all;
                  transition-property: all;
                  -webkit-transition-duration: 1s;
                  transition-duration: 1s;
                  -webkit-transition-timing-function: linear;
                  transition-timing-function: linear;
                  -webkit-transition-delay: 2s;
                  transition-delay: 2s;
                  opacity: 0; }
                .jumbotron .jumbo-slider li .product .table-box .v-align > .details-2 > .table-box > .v-align > h2 {
                  position: relative;
                  top: 50px;
                  font-size: 68px;
                  line-height: 84px;
                  color: #1b1b1d;
                  letter-spacing: -1px;
                  font-weight: bold;
                  /*@include roboto();*/
                  -webkit-transition-property: all;
                  transition-property: all;
                  -webkit-transition-duration: 1s;
                  transition-duration: 1s;
                  -webkit-transition-timing-function: linear;
                  transition-timing-function: linear;
                  -webkit-transition-delay: 2.5s;
                  transition-delay: 2.5s;
                  opacity: 0;
                  /*&:after {
                      position: absolute;
                      right: -100px;
                      bottom: 30px;
                      content: "";
                      width: 80px;
                      border-top: 1px solid #1b1b1d;
                      @media(min-width: 1400px) {
                          display: block;
                          right: -165px;
                          width: 140px;
                      }
                  }*/ }
                .jumbotron .jumbo-slider li .product .table-box .v-align > .details-2 > .table-box > .v-align > .btn-area {
                  position: relative;
                  top: 50px;
                  margin-top: 50px;
                  -webkit-transition-property: all;
                  transition-property: all;
                  -webkit-transition-duration: 1s;
                  transition-duration: 1s;
                  -webkit-transition-timing-function: linear;
                  transition-timing-function: linear;
                  -webkit-transition-delay: 3s;
                  transition-delay: 3s;
                  opacity: 0; }
                  .jumbotron .jumbo-slider li .product .table-box .v-align > .details-2 > .table-box > .v-align > .btn-area .btn-view {
                    position: relative;
                    padding: 5px 15px;
                    font-weight: 400;
                    letter-spacing: 2px;
                    font-family: 'roboto', serif;
                    border: 1px solid #1b1b1d; }
                    .jumbotron .jumbo-slider li .product .table-box .v-align > .details-2 > .table-box > .v-align > .btn-area .btn-view i {
                      font-size: 12px;
                      color: #1b1b1d;
                      position: relative;
                      z-index: 1;
                      font-style: normal;
                      -webkit-transition-property: all;
                      transition-property: all;
                      -webkit-transition-duration: 0.15s;
                      transition-duration: 0.15s;
                      -webkit-transition-timing-function: linear;
                      transition-timing-function: linear;
                      -webkit-transition-delay: 0s;
                      transition-delay: 0s; }
                    .jumbotron .jumbo-slider li .product .table-box .v-align > .details-2 > .table-box > .v-align > .btn-area .btn-view span {
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 0;
                      height: 100%;
                      display: block;
                      -webkit-transition-property: all;
                      transition-property: all;
                      -webkit-transition-duration: 0.15s;
                      transition-duration: 0.15s;
                      -webkit-transition-timing-function: linear;
                      transition-timing-function: linear;
                      -webkit-transition-delay: 0s;
                      transition-delay: 0s;
                      background-color: #1b1b1d; }
                    .jumbotron .jumbo-slider li .product .table-box .v-align > .details-2 > .table-box > .v-align > .btn-area .btn-view:hover i {
                      color: #fff; }
                    .jumbotron .jumbo-slider li .product .table-box .v-align > .details-2 > .table-box > .v-align > .btn-area .btn-view:hover span {
                      width: 100%; }
    .jumbotron .jumbo-slider li.action .product .table-box .v-align figure {
      top: 0;
      opacity: 1; }
    .jumbotron .jumbo-slider li.action .product .table-box .v-align > .details > h2 {
      top: 0;
      opacity: 1; }
    .jumbotron .jumbo-slider li.action .product .table-box .v-align > .details > p {
      top: 0;
      opacity: 1; }
    .jumbotron .jumbo-slider li.action .product .table-box .v-align > .details > .btn-area {
      top: 0;
      opacity: 1; }
    .jumbotron .jumbo-slider li.action .product .table-box .v-align > .details-2 > .table-box > .v-align > h2 {
      top: 0;
      opacity: 1; }
    .jumbotron .jumbo-slider li.action .product .table-box .v-align > .details-2 > .table-box > .v-align > p {
      top: 0;
      opacity: 1; }
    .jumbotron .jumbo-slider li.action .product .table-box .v-align > .details-2 > .table-box > .v-align > .btn-area {
      top: 0;
      opacity: 1; }
  .jumbotron .jumbo-slider .slick-dots {
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -46px; }
    .jumbotron .jumbo-slider .slick-dots li {
      display: block;
      /*width: 24px;
      height: 24px;*/
      margin-bottom: 10px;
      padding: 5px;
      border-radius: 50%; }
      .jumbotron .jumbo-slider .slick-dots li button {
        cursor: pointer;
        width: 15px;
        height: 15px;
        display: block;
        padding: 0;
        margin: 0;
        text-indent: -99999px;
        border-radius: 50%;
        border: 1px solid #fff;
        background: none; }
      .jumbotron .jumbo-slider .slick-dots li.slick-active button {
        background-color: #fff; }
      .jumbotron .jumbo-slider .slick-dots li:last-child {
        margin-bottom: 0; }

.mCustomScrollbar,
.mCustomScrollbar.mCS_touch_action,
.mCustomScrollbar.mCS_touch_action .mCS-aviva.mCSB_scrollTools {
  -ms-touch-action: auto;
  touch-action: auto; }

.mCustomScrollBox {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.mCustomScrollBox.mCSB_vertical_horizontal {
  -ms-touch-action: auto;
  touch-action: auto; }

.mCustomScrollBox.mCSB_horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.promotional {
  position: relative;
  top: 100px;
  opacity: 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  .promotional .img-promotional {
    display: block;
    margin: 0 auto; }
  .promotional .mCSB_scrollTools_horizontal {
    width: 300px !important;
    height: 40px;
    margin: 0 auto !important; }
  .promotional #mCSB_1_container {
    margin-bottom: 0; }
  .promotional .mCSB_dragger {
    width: 16px !important; }
  .promotional .mCSB_dragger_bar {
    width: 16px !important;
    height: 16px !important;
    margin-top: 0px !important;
    border-radius: 50% !important;
    background-color: #0baded !important; }
  .promotional .product {
    position: absolute;
    display: inline-block;
    opacity: 0;
    z-index: 1; }
    .promotional .product .item {
      position: relative;
      display: block; }
      .promotional .product .item .circle {
        position: absolute;
        left: 50%;
        margin-left: -5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #0baded;
        opacity: 0;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .promotional .product .item .circle.on {
          opacity: .7;
          box-shadow: 0px 0px 5px 2px #0baded; }
    .promotional .product.product-1 {
      top: 214px;
      left: 399px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .promotional .product.product-1 .item .circle {
        top: 31px; }
    .promotional .product.product-2 {
      top: 447px;
      left: 1021px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .promotional .product.product-2 .item .circle {
        top: 43px; }
    .promotional .product.product-3 {
      top: 331px;
      right: 297px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .promotional .product.product-3 .item .circle {
        top: 24px;
        margin-left: -5px; }
    .promotional .product.product-4 {
      top: 580px;
      right: 201px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .promotional .product.product-4 .item .circle {
        top: 29px;
        margin-left: -6px; }
    .promotional .product.action {
      opacity: 1; }
      .promotional .product.action.product-1 {
        top: 314px; }
      .promotional .product.action.product-2 {
        top: 547px; }
      .promotional .product.action.product-3 {
        top: 531px; }
      .promotional .product.action.product-4 {
        top: 680px; }
  .promotional .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 120px;
    text-align: right;
    padding-right: 400px; }
    .promotional .details .title {
      position: relative;
      top: 50px;
      color: #1b1b1d;
      font-size: 70px;
      line-height: 98px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      opacity: 0; }
      .promotional .details .title span {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #1b1b1d;
        display: block; }
      .promotional .details .title > p {
        position: relative;
        display: inline-block;
        font-weight: 300; }
        .promotional .details .title > p i {
          display: inline-block;
          font-style: normal; }
          .promotional .details .title > p i:before {
            float: left;
            content: "["; }
          .promotional .details .title > p i:after {
            float: right;
            content: "]"; }
      .promotional .details .title strong {
        position: relative;
        font-weight: 400;
        line-height: 100px; }
    .promotional .details .summary {
      position: relative;
      top: 50px;
      margin-top: 40px;
      font-size: 15px;
      color: #1b1b1d;
      line-height: 25px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      opacity: 0; }
    .promotional .details.action .title {
      top: 0;
      opacity: 1; }
    .promotional .details.action .summary {
      top: 0;
      opacity: 1; }
  .promotional.active {
    top: 0;
    opacity: 1; }

.product-list {
  padding: 100px 0 110px;
  background-color: #f3f3f3; }
  .product-list .tab-menu {
    font-size: 0; }
    .product-list .tab-menu > li {
      display: inline-block;
      margin-right: 45px; }
      .product-list .tab-menu > li:last-child {
        margin-right: 0; }
      .product-list .tab-menu > li a {
        position: relative;
        font-size: 14px;
        color: rgba(27, 27, 29, 0.2);
        display: inline-block;
        padding: 40px 3px 10px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        z-index: 1;
        background-repeat: no-repeat;
        background-position: 50% 0; }
        .product-list .tab-menu > li a span {
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 0;
          height: 1px;
          background-color: #1b1b1d;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
        .product-list .tab-menu > li a:hover {
          opacity: .6;
          color: #1b1b1d; }
          .product-list .tab-menu > li a:hover span {
            margin-left: -50%;
            width: 100%; }
      .product-list .tab-menu > li.active a {
        color: #1b1b1d; }
        .product-list .tab-menu > li.active a span {
          margin-left: -50%;
          width: 100%; }
        .product-list .tab-menu > li.active a:hover {
          opacity: 1; }
      .product-list .tab-menu > li:nth-of-type(1) a {
        background-image: url(/assets/images/main/bg_tab_icon01.png); }
        .product-list .tab-menu > li:nth-of-type(1) a:hover {
          background-image: url(/assets/images/main/bg_tab_icon01_on.png); }
      .product-list .tab-menu > li:nth-of-type(1).active a {
        background-image: url(/assets/images/main/bg_tab_icon01_on.png); }
      .product-list .tab-menu > li:nth-of-type(2) a {
        background-image: url(/assets/images/main/bg_tab_icon02.png); }
        .product-list .tab-menu > li:nth-of-type(2) a:hover {
          background-image: url(/assets/images/main/bg_tab_icon02_on.png); }
      .product-list .tab-menu > li:nth-of-type(2).active a {
        background-image: url(/assets/images/main/bg_tab_icon02_on.png); }
      .product-list .tab-menu > li:nth-of-type(3) a {
        background-image: url(/assets/images/main/bg_tab_icon03.png); }
        .product-list .tab-menu > li:nth-of-type(3) a:hover {
          background-image: url(/assets/images/main/bg_tab_icon03_on.png); }
      .product-list .tab-menu > li:nth-of-type(3).active a {
        background-image: url(/assets/images/main/bg_tab_icon03_on.png); }
      .product-list .tab-menu > li:nth-of-type(4) a {
        background-image: url(/assets/images/main/bg_tab_icon04.png); }
        .product-list .tab-menu > li:nth-of-type(4) a:hover {
          background-image: url(/assets/images/main/bg_tab_icon04_on.png); }
      .product-list .tab-menu > li:nth-of-type(4).active a {
        background-image: url(/assets/images/main/bg_tab_icon04_on.png); }
  .product-list .selection-product {
    overflow: hidden; }
    .product-list .selection-product > li {
      float: left;
      margin-right: 10px; }
      .product-list .selection-product > li:last-child {
        margin-right: 0; }
      .product-list .selection-product > li > a {
        width: 100px;
        height: 125px;
        text-align: center;
        border: 1px solid #f3f3f3;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .product-list .selection-product > li > a .model-img {
          padding: 0 20px;
          line-height: 85px; }
          .product-list .selection-product > li > a .model-img .img-fluid {
            display: inline-block; }
        .product-list .selection-product > li > a .model-name {
          display: inline-block;
          font-size: 13px;
          font-weight: 500;
          color: #666;
          font-family: 'roboto', serif; }
        .product-list .selection-product > li > a:hover {
          opacity: .7;
          border: 1px solid #878788; }
          .product-list .selection-product > li > a:hover .model-name {
            color: #1b1b1d; }
      .product-list .selection-product > li.active > a {
        border: 1px solid #878788; }
        .product-list .selection-product > li.active > a .model-name {
          color: #1b1b1d; }
        .product-list .selection-product > li.active > a:hover {
          opacity: 1; }
  .product-list .section-content {
    margin-top: -60px; }
    .product-list .section-content .details {
      padding-top: 120px; }
      .product-list .section-content .details h3 {
        position: relative;
        font-size: 42px;
        color: #1b1b1d;
        font-weight: 400;
        padding-top: 50px;
        margin-bottom: 20px; }
        .product-list .section-content .details h3 .label {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 45px;
          height: 20px;
          line-height: 20px;
          font-size: 11px;
          color: #fff;
          font-family: 'roboto', serif;
          font-weight: 300;
          text-align: center;
          background-color: #353535; }
      .product-list .section-content .details .product-name {
        font-size: 15px;
        color: #1b1b1d;
        font-weight: 400;
        font-family: 'roboto', serif; }
      .product-list .section-content .details .summary {
        height: 155px;
        font-size: 15px;
        color: #666;
        font-weight: 300;
        line-height: 25px;
        margin-top: 50px;
        word-break: keep-all; }
    .product-list .section-content .product-item {
      position: relative;
      width: 100%;
      height: 100%; }
      .product-list .section-content .product-item .product-img img {
        display: block;
        margin: 0 auto; }
      .product-list .section-content .product-item .btn-area {
        text-align: center;
        margin-top: 60px; }
        .product-list .section-content .product-item .btn-area .btn-black {
          display: inline-block;
          width: 200px;
          height: 54px;
          font-size: 15px;
          color: #fff;
          font-weight: 300;
          line-height: 54px;
          text-align: center;
          background-color: #333;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .product-list .section-content .product-item .btn-area .btn-black:before {
            content: "\E803";
            font-family: "fontello";
            margin-right: 10px; }
          .product-list .section-content .product-item .btn-area .btn-black:hover {
            opacity: .7; }

.news-list {
  position: relative;
  top: 50px;
  opacity: 0;
  text-align: center;
  padding: 60px 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  .news-list.action {
    top: 0;
    opacity: 1; }
  .news-list .news-slider {
    position: relative; }
    .news-list .news-slider:before {
      position: absolute;
      top: -30px;
      left: 0;
      display: block;
      z-index: 10;
      content: url(/assets/images/main/bg_blur_left.png); }
    .news-list .news-slider:after {
      position: absolute;
      top: -30px;
      right: 0;
      display: block;
      z-index: 10;
      content: url(/assets/images/main/bg_blur_right.png); }
    .news-list .news-slider .slick-arrow {
      position: absolute;
      top: 50%;
      font-size: 25px;
      color: #999;
      cursor: pointer;
      margin-top: -12px;
      border: 0;
      background: none;
      z-index: 11;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .news-list .news-slider .slick-arrow.slick-prev {
        left: 50px; }
      .news-list .news-slider .slick-arrow.slick-next {
        right: 50px; }
      .news-list .news-slider .slick-arrow:hover {
        color: #1b1b1b; }
    .news-list .news-slider li a {
      position: relative; }
      .news-list .news-slider li a figure .img-fluid {
        width: 100%; }
      .news-list .news-slider li a .icon-more {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 50px;
        height: 50px;
        font-size: 20px;
        color: #242426;
        text-align: center;
        line-height: 50px;
        background-color: #fcfcfc;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .news-list .news-slider li a .icon-more .icon-plus:before {
          margin: 0;
          padding: 0; }
      .news-list .news-slider li a:hover .icon-more {
        color: #fff;
        background-color: #1b1b1b; }
    .news-list .news-slider.more {
      display: inline-block;
      font-size: 0; }
      .news-list .news-slider.more > li {
        display: inline-block;
        padding: 0 15px; }
      .news-list .news-slider.more:before {
        content: ""; }
      .news-list .news-slider.more:after {
        content: ""; }

.video-area a {
  position: relative; }
  .video-area a figure .img-fluid {
    width: 100%; }
  .video-area a .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110px;
    height: 110px;
    color: #fff;
    font-size: 45px;
    text-align: center;
    line-height: 98px;
    margin: -55px 0 0 -55px;
    border: 3px solid #fff;
    border-radius: 50%;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .video-area a .play-icon .icon-googleplay {
      position: relative;
      right: -5px; }
      .video-area a .play-icon .icon-googleplay:before {
        margin: 0;
        padding: 0; }
  .video-area a:hover .play-icon {
    color: #1b1b1b;
    border-color: #1b1b1b; }

.sns-issue {
  padding: 60px 0; }
  .sns-issue ul > li > a {
    position: relative;
    width: 370px;
    height: 370px;
    overflow: hidden; }
    .sns-issue ul > li > a.naver-blog {
      padding: 50px 0 0 30px;
      background-color: #f2f2f2; }
    .sns-issue ul > li > a figure .img-fluid {
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      width: 100%; }
    .sns-issue ul > li > a .blog-content small {
      font-size: 12px;
      color: #999;
      font-family: 'roboto', serif; }
    .sns-issue ul > li > a .blog-content h3 {
      font-size: 27px;
      color: #1b1b1d;
      line-height: 38px;
      letter-spacing: -1px;
      margin: 25px 0 40px; }
    .sns-issue ul > li > a .blog-content p {
      font-size: 14px;
      color: #666;
      line-height: 25px; }
    .sns-issue ul > li > a .icon-sns {
      position: absolute;
      left: 15px;
      bottom: 15px;
      display: block;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: 50% 50%; }
      .sns-issue ul > li > a .icon-sns.icon-facebook {
        background-image: url(/assets/images/main/ico_facebook.gif); }
      .sns-issue ul > li > a .icon-sns.icon-naver {
        background-image: url(/assets/images/main/ico_naver.gif); }
      .sns-issue ul > li > a .icon-sns.icon-insta {
        background-image: url(/assets/images/main/ico_insta.gif); }
    .sns-issue ul > li > a:hover figure .img-fluid {
      transform: scale(1.2); }

.modal .modal-dialog .modal-content {
  border: 0;
  border-radius: 0;
  background: none; }
  .modal .modal-dialog .modal-content .modal-header {
    padding: 0;
    border: 0;
    padding-bottom: 15px; }
    .modal .modal-dialog .modal-content .modal-header .modal-close {
      margin: 0 0 0 auto; }
  .modal .modal-dialog .modal-content .modal-body {
    padding: 0;
    border: 0; }
.modal.product-modal .modal-dialog {
  max-width: 1030px;
  margin-top: 200px; }
  .modal.product-modal .modal-dialog .modal-content .modal-body {
    overflow: hidden; }
    .modal.product-modal .modal-dialog .modal-content .modal-body > div {
      float: left;
      display: block;
      vertical-align: middle;
      height: 515px; }
      .modal.product-modal .modal-dialog .modal-content .modal-body > div.summary {
        width: 430px;
        background-color: #fff; }
        .modal.product-modal .modal-dialog .modal-content .modal-body > div.summary .table-box {
          display: table;
          width: 100%;
          height: 100%; }
          .modal.product-modal .modal-dialog .modal-content .modal-body > div.summary .table-box .v-align {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            height: 100%;
            padding-left: 50px; }
            .modal.product-modal .modal-dialog .modal-content .modal-body > div.summary .table-box .v-align small {
              font-size: 12px;
              color: #999;
              font-family: 'roboto', serif;
              font-weight: 400; }
            .modal.product-modal .modal-dialog .modal-content .modal-body > div.summary .table-box .v-align h4 {
              font-size: 45px;
              font-weight: lighter;
              line-height: 60px;
              letter-spacing: -3px;
              margin-top: 15px; }
              .modal.product-modal .modal-dialog .modal-content .modal-body > div.summary .table-box .v-align h4 i {
                font-style: normal;
                font-weight: lighter;
                font-family: 'roboto', serif; }
            .modal.product-modal .modal-dialog .modal-content .modal-body > div.summary .table-box .v-align hr {
              display: block;
              width: 45px;
              margin: 30px 0 45px;
              border-top: 1px solid #000; }
            .modal.product-modal .modal-dialog .modal-content .modal-body > div.summary .table-box .v-align p {
              font-size: 14px;
              font-weight: 300;
              line-height: 25px; }
            .modal.product-modal .modal-dialog .modal-content .modal-body > div.summary .table-box .v-align .details-more {
              margin-top: 50px; }
              .modal.product-modal .modal-dialog .modal-content .modal-body > div.summary .table-box .v-align .details-more > li {
                display: block; }
                .modal.product-modal .modal-dialog .modal-content .modal-body > div.summary .table-box .v-align .details-more > li a {
                  position: relative;
                  display: inline-block;
                  font-size: 13px;
                  color: #666;
                  line-height: 28px;
                  margin-left: 20px; }
                  .modal.product-modal .modal-dialog .modal-content .modal-body > div.summary .table-box .v-align .details-more > li a:before {
                    position: absolute;
                    top: 1px;
                    left: -18px;
                    font-family: "fontello"; }
                  .modal.product-modal .modal-dialog .modal-content .modal-body > div.summary .table-box .v-align .details-more > li a span {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0;
                    height: 2px;
                    border-top: 1px solid #a7a7a8;
                    border-bottom: 1px solid #d6d6d6;
                    -webkit-transition-property: all;
                    transition-property: all;
                    -webkit-transition-duration: 0.15s;
                    transition-duration: 0.15s;
                    -webkit-transition-timing-function: linear;
                    transition-timing-function: linear;
                    -webkit-transition-delay: 0s;
                    transition-delay: 0s; }
                  .modal.product-modal .modal-dialog .modal-content .modal-body > div.summary .table-box .v-align .details-more > li a:hover {
                    color: #1b1b1d; }
                    .modal.product-modal .modal-dialog .modal-content .modal-body > div.summary .table-box .v-align .details-more > li a:hover span {
                      margin-left: -50%;
                      width: 100%; }
                .modal.product-modal .modal-dialog .modal-content .modal-body > div.summary .table-box .v-align .details-more > li:first-child a:before {
                  content: "\F097"; }
                .modal.product-modal .modal-dialog .modal-content .modal-body > div.summary .table-box .v-align .details-more > li:last-child a:before {
                  content: "\E808"; }
      .modal.product-modal .modal-dialog .modal-content .modal-body > div.product-sldier {
        position: relative;
        width: 600px; }
        .modal.product-modal .modal-dialog .modal-content .modal-body > div.product-sldier .img-fluid {
          width: 100%; }
        .modal.product-modal .modal-dialog .modal-content .modal-body > div.product-sldier .slick-dots {
          position: absolute;
          width: 100%;
          bottom: 30px;
          text-align: center; }
          .modal.product-modal .modal-dialog .modal-content .modal-body > div.product-sldier .slick-dots li {
            display: inline-block; }
            .modal.product-modal .modal-dialog .modal-content .modal-body > div.product-sldier .slick-dots li > button {
              cursor: pointer;
              display: block;
              width: 12px;
              height: 12px;
              padding: 0;
              margin: 0;
              margin: 0 3px;
              border: 0;
              background: none;
              border: 1px solid #e5e2de;
              border-radius: 50%;
              text-indent: -99999px; }
            .modal.product-modal .modal-dialog .modal-content .modal-body > div.product-sldier .slick-dots li.slick-active > button {
              background-color: #e5e2de; }
.modal.video-modal .modal-dialog {
  max-width: 1030px;
  margin-top: 150px; }

/*# sourceMappingURL=main.css.map */
