@import 'common';

// content
#content {
    min-height: 650px;
}

.jumbotron {
    position: relative;
    padding: 0;
    margin: 0;
    border-radius: 0 !important;
    box-shadow: none !important;
    background-color: #f3f3f3;
    .jumbo-slider {
        li {
            /*overflow: hidden;*/
            outline: none;
            .figbox {
                /*float: right;*/
                width: 100%;
                > figure {
                    .img-fluid {
                        width: 100%;
                    }
                }
            }
            .product {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                .table-box {
                    display: table;
                    width: 100%;
                    height: 100%;
                    .v-align {
                        display: table-cell;
                        width: 100%;
                        height: 100%;
                        vertical-align: middle;
                        text-align: center;
                        figure {
                            position: relative;
                            top: 50px;
                            opacity: 0;
                            padding-top: 30px;
                            @include transition($duration: 1s);
                            @media(min-width: 1400px) {
                                padding-top: 60px;
                            }
                            .img-fluid {
                                display: inline-block;
                                transform: scale(.7);
                                @media(min-width: 1400px) {
                                    transform: scale(.8);
                                }
                                @media(min-width: 1600px) {
                                    transform: scale(1);
                                }
                            }
                        }
                        > .details {
                            position: absolute;
                            top: 50%;
                            left: 0;
                            height: 430px;
                            width: 39%;
                            padding-top: 80px;
                            text-align: right;
                            margin-top: -160px;
                            padding-right: 9%;
                            @media(min-width: 1400px) {
                                padding-top: 130px;
                                padding-right: 200px;
                            }
                            > h2 {
                                position: relative;
                                top: 50px;
                                font-size: 60px;
                                line-height: 60px;
                                color: #1b1b1d;
                                letter-spacing: 1px;
                                font-weight: lighter;
                                @include roboto();
                                @include transition($duration: 1s, $delay: 2s);
                                opacity: 0;
                                &:after {
                                    position: absolute;
                                    right: -100px;
                                    bottom: 30px;
                                    content: "";
                                    width: 80px;
                                    border-top: 1px solid #1b1b1d;
                                    @media(min-width: 1400px) {
                                        display: block;
                                        right: -165px;
                                        width: 140px;
                                    }
                                }
                            }
                            > p {
                                position: relative;
                                top: 50px;
                                font-size: 13px;
                                color: #999;
                                font-weight: 300;
                                line-height: 24px;
                                margin-top: 40px;
                                @include transition($duration: 1s, $delay: 2.5s);
                                opacity: 0;
                            }
                            .btn-area {
                                position: relative;
                                top: 50px;
                                margin-top: 50px;
                                @include transition($duration: 1s, $delay: 3s);
                                opacity: 0;
                                .btn-view {
                                    position: relative;
                                    padding: 5px 15px;
                                    font-weight: 400;
                                    letter-spacing: 2px;
                                    @include roboto();
                                    border: 1px solid #1b1b1d;
                                    i {
                                        font-size: 12px;
                                        color: #1b1b1d;
                                        position: relative;
                                        z-index: 1;
                                        font-style: normal;
                                        @include transition();
                                    }
                                    span {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 0;
                                        height: 100%;
                                        display: block;
                                        @include transition();
                                        background-color: #1b1b1d;
                                    }
                                    &:hover {
                                        i {
                                            color: #fff;
                                        }
                                        span {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                        > .details-2 {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 50%;
                            height: 100%; 
                            > .table-box {
                                display: table;
                                width: 100%;
                                height: 100%;
                                padding-left: 15%;
                                > .v-align {
                                    display: table-cell;
                                    width: 100%;
                                    height: 100%;
                                    vertical-align: middle;
                                    text-align: left;
                                    > p {
                                        position: relative;
                                        top: 50px;
                                        font-size: 50px;
                                        color: #555;
                                        font-weight: 300;
                                        line-height: 52px;
                                        margin-bottom: 35px;
                                        @include transition($duration: 1s, $delay: 2s);
                                        opacity: 0;
                                    }
                                    > h2 {
                                        position: relative;
                                        top: 50px;
                                        font-size: 68px;
                                        line-height: 84px;
                                        color: #1b1b1d;
                                        letter-spacing: -1px;
                                        font-weight: bold;
                                        /*@include roboto();*/
                                        @include transition($duration: 1s, $delay: 2.5s);
                                        opacity: 0;
                                        /*&:after {
                                            position: absolute;
                                            right: -100px;
                                            bottom: 30px;
                                            content: "";
                                            width: 80px;
                                            border-top: 1px solid #1b1b1d;
                                            @media(min-width: 1400px) {
                                                display: block;
                                                right: -165px;
                                                width: 140px;
                                            }
                                        }*/
                                    }
                                    > .btn-area {
                                        position: relative;
                                        top: 50px;
                                        margin-top: 50px;
                                        @include transition($duration: 1s, $delay: 3s);
                                        opacity: 0;
                                        .btn-view {
                                            position: relative;
                                            padding: 5px 15px;
                                            font-weight: 400;
                                            letter-spacing: 2px;
                                            @include roboto();
                                            border: 1px solid #1b1b1d;
                                            i {
                                                font-size: 12px;
                                                color: #1b1b1d;
                                                position: relative;
                                                z-index: 1;
                                                font-style: normal;
                                                @include transition();
                                            }
                                            span {
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                width: 0;
                                                height: 100%;
                                                display: block;
                                                @include transition();
                                                background-color: #1b1b1d;
                                            }
                                            &:hover {
                                                i {
                                                    color: #fff;
                                                }
                                                span {
                                                    width: 100%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            /*position: absolute;
                            top: 50%;
                            left: 5%;
                            height: 430px;
                            width: 58%;
                            padding-top: 80px;
                            text-align: left;
                            margin-top: -160px;
                            padding-right: 9%;
                            @media(min-width: 1400px) {
                                padding-top: 130px;
                                padding-right: 200px;
                            }*/
                        }
                    }
                }
            }
            &.action {
                .product {
                    .table-box {
                        .v-align {
                            figure {
                                top: 0;
                                opacity: 1;
                            }
                            > .details {
                                > h2 {
                                    top: 0;
                                    opacity: 1;
                                }
                                > p {
                                    top: 0;
                                    opacity: 1;
                                }
                                > .btn-area {
                                    top: 0;
                                    opacity: 1;
                                }
                            }
                            > .details-2 {
                                > .table-box {
                                    > .v-align {
                                        > h2 {
                                            top: 0;
                                            opacity: 1;
                                        }
                                        > p {
                                            top: 0;
                                            opacity: 1;
                                        }
                                        > .btn-area {
                                            top: 0;
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .slick-dots {
            position: absolute;
            top: 50%;
            right: 30px;
            margin-top: -46px;
            li {
                display: block;
                /*width: 24px;
                height: 24px;*/
                margin-bottom: 10px;
                padding: 5px;
                border-radius: 50%;
                button {
                    cursor: pointer;
                    width: 15px;
                    height: 15px;
                    display: block;
                    padding: 0;
                    margin: 0;
                    text-indent: -99999px;
                    border-radius: 50%;
                    border: 1px solid #fff;
                    background: none;
                }
                &.slick-active {
                    button {
                        background-color: #fff;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

// mCustomScrollbar
.mCustomScrollbar,
.mCustomScrollbar.mCS_touch_action,
.mCustomScrollbar.mCS_touch_action .mCS-aviva.mCSB_scrollTools {
    -ms-touch-action: auto;
        touch-action: auto;
}

.mCustomScrollBox {
    -ms-touch-action: pan-x;
        touch-action: pan-x;
}

.mCustomScrollBox.mCSB_vertical_horizontal {
    -ms-touch-action: auto;
        touch-action: auto;
}

.mCustomScrollBox.mCSB_horizontal {
    -ms-touch-action: pan-y;
        touch-action: pan-y;
}
//promotional
.promotional {
    position: relative;
    top: 100px;
    opacity: 0;
    @include transition($duration: 1s);
    .img-promotional {
        display: block;
        margin: 0 auto;
    }
    .mCSB_scrollTools_horizontal {
        width: 300px !important;
        height: 40px;
        margin: 0 auto !important;
    }
    #mCSB_1_container {
        margin-bottom: 0;
    }
    .mCSB_dragger {
        width: 16px !important;
    }
    .mCSB_dragger_bar {
        width: 16px !important;
        height: 16px !important;
        margin-top: 0px !important;
        border-radius: 50% !important;
        background-color: #0baded !important;
    }
    .product {
        position: absolute;
        display: inline-block;
        opacity: 0;
        z-index: 1;
        .item {
            position: relative;
            display: block;
            .circle {
                position: absolute;
                left: 50%;
                margin-left: -5px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #0baded;
                opacity: 0;
                @include transition($duration: .5s);
                &.on {
                    opacity: .7;
                    box-shadow: 0px 0px 5px 2px #0baded;
                }
            }
        }
        &.product-1 {
            top: 214px;
            left: 399px;
            @include transition($duration: 1s);
            .item {
                .circle {
                    top: 31px;
                }
            }
        }
        &.product-2 {
            top: 447px;
            left: 1021px;
            @include transition($duration: 1s);
            .item {
                .circle {
                    top: 43px;
                }
            }
            
        }
        &.product-3 {
            top: 331px;
            right: 297px;
            @include transition($duration: 1s);
            .item {
                .circle {
                    top: 24px;
                    margin-left: -5px;
                }
            }
        }
        &.product-4 {
            top: 580px;
            right: 201px;
            @include transition($duration: 1s);
            .item {
                .circle {
                    top: 29px;
                    margin-left: -6px;
                }
            }
        }
        &.action {
            opacity: 1;   
            &.product-1 {
                top: 314px;
            }
            &.product-2 {
                top: 547px;
            }
            &.product-3 {
                top: 531px;
            }
            &.product-4 {
                top: 680px;
            }
        }
    }
    .details {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 120px;
        text-align: right;
        padding-right: 400px;
        .title {
            position: relative;
            top: 50px;
            color: #1b1b1d;
            font-size: 70px;
            line-height: 98px;
            @include transition($duration: 1s);
            opacity: 0;
            span {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #1b1b1d;
                display: block;
            }
            > p {
                position: relative;
                display: inline-block;
                font-weight: 300;
                i {
                    display: inline-block;
                    font-style: normal;
                    &:before {
                        float: left;
                        content: "[";
                    }
                    &:after {
                        float: right;
                        content: "]";
                    }
                }
            }
            strong {
                position: relative;
                font-weight: 400;
                line-height: 100px;
            }
        }
        .summary {
            position: relative;
            top: 50px;
            margin-top: 40px;
            font-size: 15px;
            color: #1b1b1d;
            line-height: 25px;
            @include transition($duration: 1s);
            opacity: 0;
        }
        &.action {
            .title {
                top: 0;
                opacity: 1;
            }
            .summary {
                top: 0;
                opacity: 1;
            }
        }
    }
    &.active {
        top: 0;
        opacity: 1;
    }
}

//product-list
.product-list {
    padding: 100px 0 110px;
    background-color: #f3f3f3;
    .tab-menu {
        font-size: 0;
        > li {
            display: inline-block;
            margin-right: 45px;
            &:last-child {
                margin-right: 0;
            }
            a {
                position: relative;
                font-size: 14px;
                color: rgba(#1b1b1d, .2);
                display: inline-block;
                padding: 40px 3px 10px;
                @include transition();
                z-index: 1;
                background-repeat: no-repeat;
                background-position: 50% 0;
                span {
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    width: 0;
                    height: 1px;
                    background-color: #1b1b1d;
                    @include transition();
                }
                &:hover {
                    opacity: .6;
                    color: #1b1b1d;
                    span {
                        margin-left: -50%;
                        width: 100%;
                    }
                }
            }
            &.active {
                a {
                    color: #1b1b1d;
                    span {
                        margin-left: -50%;
                        width: 100%;
                    }
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            &:nth-of-type(1) {
                a {
                    background-image: url(/assets/images/main/bg_tab_icon01.png);
                    &:hover {
                        background-image: url(/assets/images/main/bg_tab_icon01_on.png);
                    }
                }
                &.active {
                    a {
                        background-image: url(/assets/images/main/bg_tab_icon01_on.png);
                    }
                }
            }
            &:nth-of-type(2) {
                a {
                    background-image: url(/assets/images/main/bg_tab_icon02.png);
                    &:hover {
                        background-image: url(/assets/images/main/bg_tab_icon02_on.png);
                    }
                }
                &.active {
                    a {
                        background-image: url(/assets/images/main/bg_tab_icon02_on.png);
                    }
                }
            }
            &:nth-of-type(3) {
                a {
                    background-image: url(/assets/images/main/bg_tab_icon03.png);
                    &:hover {
                        background-image: url(/assets/images/main/bg_tab_icon03_on.png);
                    }
                }
                &.active {
                    a {
                        background-image: url(/assets/images/main/bg_tab_icon03_on.png);
                    }
                }
            }
            &:nth-of-type(4) {
                a {
                    background-image: url(/assets/images/main/bg_tab_icon04.png);
                    &:hover {
                        background-image: url(/assets/images/main/bg_tab_icon04_on.png);
                    }
                }
                &.active {
                    a {
                        background-image: url(/assets/images/main/bg_tab_icon04_on.png);
                    }
                }
            }
        }
    }
    .selection-product {
        overflow: hidden;
        > li {
            float: left;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
            > a {
                width: 100px;
                height: 125px;
                text-align: center;
                border: 1px solid #f3f3f3;
                @include transition();
                .model-img {
                    padding: 0 20px;
                    line-height: 85px;
                    .img-fluid {
                        display: inline-block;
                    }
                }
                .model-name {
                    display: inline-block;
                    font-size: 13px;
                    font-weight: 500;
                    color: #666;
                    @include roboto();
                }
                &:hover {
                    opacity: .7;
                    border: 1px solid #878788;
                    .model-name {
                        color: #1b1b1d;
                    }
                }
            }
            &.active {
                > a {
                    border: 1px solid #878788;
                    .model-name {
                        color: #1b1b1d;
                    }
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .section-content {
        margin-top: -60px;
        .details {
            padding-top: 120px;
            h3 {
                position: relative;
                font-size: 42px;
                color: #1b1b1d;
                font-weight: 400;
                padding-top: 50px;
                margin-bottom: 20px;
                .label {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 45px;
                    height: 20px;
                    line-height: 20px;
                    font-size: 11px;
                    color: #fff;
                    @include roboto();
                    font-weight: 300;
                    text-align: center;
                    background-color: #353535;
                }
            }
            .product-name {
                font-size: 15px;
                color: #1b1b1d;
                font-weight: 400;
                @include roboto();
            }
            .summary {
                height: 155px;
                font-size: 15px;
                color: #666;
                font-weight: 300;
                line-height: 25px;
                margin-top: 50px;
                word-break: keep-all;
            }
        }
        .product-item {
            position: relative;
            width: 100%;
            height: 100%;
            .product-img {
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
            .btn-area {
                text-align: center;
                margin-top: 60px;
                .btn-black {
                    display: inline-block;
                    width: 200px;
                    height: 54px;
                    font-size: 15px;
                    color: #fff;
                    font-weight: 300;
                    line-height: 54px;
                    text-align: center;
                    background-color: #333;
                    @include transition();
                    &:before {
                        content: "\E803";
                        font-family: "fontello";
                        margin-right: 10px;
                    }
                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }
    }
}

//news-list
.news-list {
    position: relative;
    top: 50px;
    opacity: 0;
    text-align: center;
    padding: 60px 0;
    @include transition($duration: 1s);
    &.action {
        top: 0;
        opacity: 1;
    }
    .news-slider {
        position: static;
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 300px;
            height: 100%;
            z-index: 10;
            content: '';
            background-image: url(/assets/images/main/bg_blur_left.png);
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: 300px 100%;
        }
        &:after {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 300px;
            height: 100%;
            z-index: 10;
            content: '';
            background-image: url(/assets/images/main/bg_blur_right.png);
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: 300px 100%;
            
        }
        .slick-arrow {
            position: absolute;
            top: 50%;
            font-size: 25px;
            color: #999;
            cursor: pointer;
            margin-top: -12px;
            border: 0;
            background: none;
            z-index: 11;
            @include transition();
            &.slick-prev {
                left: 50px;
            }
            &.slick-next {
                right: 50px;
            }
            &:hover {
                color: #1b1b1b;
            }
        }
        li {
            a {
                position: relative;
                figure {
                    .img-fluid {
                        width: 100%;
                    }
                }
                .icon-more {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: block;
                    width: 50px;
                    height: 50px;
                    font-size: 20px;
                    color: #242426;
                    text-align: center;
                    line-height: 50px;
                    background-color: #fcfcfc;
                    @include transition();
                    .icon-plus {
                        &:before {
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
                &:hover {
                    .icon-more {
                        color: #fff;
                        background-color: #1b1b1b;
                    }
                }
            }
        }
        &.more {
            display: inline-block;
            width: 100%;
            font-size: 0;
            > li {
                display: inline-block;
                padding: 0 15px;
            }
            &:before {
                content: "";
            }
            &:after {
                content: "";
            }
        }
    }
}

//video-area
.video-area {
    a {
        position: relative;
        figure {
            .img-fluid {
                width: 100%;
            }
        }
        .play-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 110px;
            height: 110px;
            color: #fff;
            font-size: 45px;
            text-align: center;
            line-height: 98px;
            margin: -55px 0 0 -55px;
            border: 3px solid #fff;
            border-radius: 50%;
            @include transition();
            .icon-googleplay {
                position: relative;
                right: -5px;
                &:before {
                    margin: 0;
                    padding: 0;
                }
            }
        }
        &:hover {
            .play-icon {
                color: #1b1b1b;
                border-color: #1b1b1b;
            }
        }
    }
}

//sns-issue 
.sns-issue {
    padding: 60px 0;
    ul {
        > li {
            > a {
                position: relative;
                width: 370px;
                height: 370px;
                overflow: hidden;
                &.naver-blog {
                    padding: 50px 0 0 30px;
                    background-color: #f2f2f2;
                }
                figure {
                    .img-fluid {
                        @include transition($duration: .20s);
                        width: 100%;
                    }
                }
                .blog-content {
                    small {
                        font-size: 12px;
                        color: #999;
                        @include roboto();
                    }
                    h3 {
                        font-size: 27px;
                        color: #1b1b1d;
                        line-height: 38px;
                        letter-spacing: -1px;
                        margin: 25px 0 40px;
                    }
                    p {
                        font-size: 14px;
                        color: #666;
                        line-height: 25px;
                    }
                }
                .icon-sns {
                    position: absolute;
                    left: 15px;
                    bottom: 15px;
                    display: block;
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                    background-color: #fff;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    &.icon-facebook {
                        background-image: url(/assets/images/main/ico_facebook.gif);
                    }
                    &.icon-naver {
                        background-image: url(/assets/images/main/ico_naver.gif);
                    }
                    &.icon-insta {
                        background-image: url(/assets/images/main/ico_insta.gif);
                    }
                }
                &:hover {
                    figure {
                        .img-fluid {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}

// modal popup
.modal {
    background-color: rgba(0, 0, 0, .5);
    .modal-dialog {
        .modal-content {
            border: 0;
            border-radius: 0;
            background: none;
            .modal-header {
                padding: 0;
                border: 0;
                padding-bottom: 15px;
                .modal-close {
                    margin: 0 0 0 auto;
                }
            }
            .modal-body {
                padding: 0;
                border: 0;
            }
            .modal-footer {
                label {
                    font-size: 14px;
                    font-weight: 400;
                    color: #fff;
                    input {
                        position: relative;
                        top: 2px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    &.product-modal {
        .modal-dialog {
            max-width: 1030px;
            margin-top: 200px;
            .modal-content {
                .modal-body {
                    overflow: hidden;
                    > div {
                        float: left;
                        display: block;
                        vertical-align: middle;
                        height: 515px;
                        &.summary {
                            width: 430px;
                            background-color: #fff;
                            .table-box {
                                display: table;
                                width: 100%;
                                height: 100%;
                                .v-align {
                                    display: table-cell;
                                    vertical-align: middle;
                                    width: 100%;
                                    height: 100%;
                                    padding-left: 50px;
                                    small {
                                        font-size: 12px;
                                        color: #999;
                                        @include roboto();
                                        font-weight: 400;
                                    }
                                    h4 {
                                        font-size: 45px;
                                        font-weight: lighter;
                                        line-height: 60px;
                                        letter-spacing: -3px;
                                        margin-top: 15px;
                                        i {
                                            font-style: normal;
                                            font-weight: lighter;
                                            @include roboto();
                                        }
                                    }
                                    hr {
                                        display: block;
                                        width: 45px;
                                        margin: 30px 0 45px;
                                        border-top: 1px solid #000;
                                    }
                                    p {
                                        font-size: 14px;
                                        font-weight: 300;
                                        line-height: 25px;
                                    }
                                    .details-more {
                                        margin-top: 50px;
                                        > li {
                                            display: block;
                                            a {
                                                position: relative;
                                                display: inline-block;
                                                font-size: 13px;
                                                color: #666;
                                                line-height: 28px;
                                                margin-left: 20px;
                                                &:before {
                                                    position: absolute;
                                                    top: 1px;
                                                    left: -18px;
                                                    font-family: "fontello";
                                                }
                                                span {
                                                    position: absolute;
                                                    bottom: 0;
                                                    left: 50%;
                                                    width: 0;
                                                    height: 2px;
                                                    border-top: 1px solid #a7a7a8;
                                                    border-bottom: 1px solid #d6d6d6;
                                                    @include transition();
                                                }
                                                &:hover {
                                                    color: #1b1b1d;
                                                    span {
                                                        margin-left: -50%;
                                                        width: 100%;
                                                    }
                                                }
                                            }
                                            &:first-child {
                                                a {
                                                    &:before {
                                                        content: "\F097";
                                                    }
                                                }
                                            }
                                            &:last-child {
                                                a {
                                                    &:before {
                                                        content: "\E808";
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.product-sldier {
                            position: relative;
                            width: 600px;
                            .img-fluid {
                                width: 100%;
                            }
                            .slick-dots {
                                position: absolute;
                                width: 100%;
                                bottom: 30px;
                                text-align: center;
                                li {
                                    display: inline-block;
                                    > button {
                                        cursor: pointer;
                                        display: block;
                                        width: 12px;
                                        height: 12px;
                                        padding: 0;
                                        margin: 0;
                                        margin: 0 3px;
                                        border: 0;
                                        background: none;
                                        border: 1px solid #e5e2de;
                                        border-radius: 50%;
                                        text-indent: -99999px;
                                    }
                                    &.slick-active {
                                        > button {
                                            background-color: #e5e2de;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.video-modal {
        .modal-dialog {
            max-width: 1030px;
            margin-top: 150px;
        }
    }
}