@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype"); }
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.container {
  max-width: 1200px !important; }

.product-item {
  position: relative; }
  .product-item > .sub-slider li {
    outline: none; }
    .product-item > .sub-slider li figure .img-fluid {
      width: 100%; }
  .product-item .slick-dots {
    position: absolute;
    bottom: 40px;
    left: 0;
    height: 15px;
    width: 100%;
    text-align: center; }
    .product-item .slick-dots li {
      display: inline-block; }
      .product-item .slick-dots li > button {
        outline: none;
        cursor: pointer;
        width: 15px;
        height: 15px;
        border: 1px solid #fff;
        padding: 0;
        margin: 0 12px;
        background: none;
        border-radius: 50%;
        text-indent: -99999px; }
      .product-item .slick-dots li.slick-active > button {
        background-color: #fff; }

.product-list {
  padding-bottom: 0 !important; }
  .product-list .product-line {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto; }
    .product-list .product-line .container-fluid {
      max-width: 1600px !important;
      margin: 0 auto; }
      .product-list .product-line .container-fluid .item {
        height: 480px; }
        .product-list .product-line .container-fluid .item figure img {
          position: relative;
          opacity: 0;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 1s;
          transition-duration: 1s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s; }
      .product-list .product-line .container-fluid .item-details {
        position: relative;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 1.5s;
        transition-delay: 1.5s;
        opacity: 0;
        display: table;
        width: 100%;
        height: 480px; }
        .product-list .product-line .container-fluid .item-details .v-align {
          display: table-cell;
          width: 100%;
          height: 480px;
          vertical-align: middle; }
          .product-list .product-line .container-fluid .item-details .v-align h3 {
            font-size: 60px;
            line-height: 60px;
            font-family: 'roboto', serif;
            color: #1b1b1d;
            font-weight: lighter; }
          .product-list .product-line .container-fluid .item-details .v-align > p {
            font-size: 16px;
            line-height: 26px;
            color: #1b1b1d;
            font-weight: 300;
            margin-top: 35px; }
          .product-list .product-line .container-fluid .item-details .v-align .btn-area {
            margin-top: 55px; }
            .product-list .product-line .container-fluid .item-details .v-align .btn-area .btn {
              position: relative; }
              .product-list .product-line .container-fluid .item-details .v-align .btn-area .btn i {
                position: relative;
                width: 150px;
                font-size: 12px;
                color: #1b1b1d;
                font-weight: 300;
                letter-spacing: 3px;
                text-align: center;
                font-style: normal;
                display: inline-block;
                padding: 10px 0;
                z-index: 1;
                font-family: 'roboto', serif;
                -webkit-transition-property: all;
                transition-property: all;
                -webkit-transition-duration: 0.15s;
                transition-duration: 0.15s;
                -webkit-transition-timing-function: linear;
                transition-timing-function: linear;
                -webkit-transition-delay: 0s;
                transition-delay: 0s; }
              .product-list .product-line .container-fluid .item-details .v-align .btn-area .btn span {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 0;
                height: 100%;
                background-color: #1b1b1d;
                -webkit-transition-property: all;
                transition-property: all;
                -webkit-transition-duration: 0.15s;
                transition-duration: 0.15s;
                -webkit-transition-timing-function: linear;
                transition-timing-function: linear;
                -webkit-transition-delay: 0s;
                transition-delay: 0s; }
              .product-list .product-line .container-fluid .item-details .v-align .btn-area .btn:hover i {
                color: #fff; }
              .product-list .product-line .container-fluid .item-details .v-align .btn-area .btn:hover span {
                width: 100%; }
              .product-list .product-line .container-fluid .item-details .v-align .btn-area .btn.list-view {
                display: inline-block; }
              .product-list .product-line .container-fluid .item-details .v-align .btn-area .btn.list-close {
                display: none; }
    .product-list .product-line:nth-of-type(even) .item-details {
      right: -50px; }
      .product-list .product-line:nth-of-type(even) .item-details .v-align {
        text-align: left; }
    .product-list .product-line:nth-of-type(even) .item figure {
      float: right; }
      .product-list .product-line:nth-of-type(even) .item figure img {
        left: -100px; }
    .product-list .product-line:nth-of-type(odd) .item-details {
      width: 570px;
      float: right;
      left: -50px; }
      .product-list .product-line:nth-of-type(odd) .item-details .v-align {
        text-align: left; }
    .product-list .product-line:nth-of-type(odd) .item figure {
      float: left; }
      .product-list .product-line:nth-of-type(odd) .item figure img {
        right: -100px; }
    .product-list .product-line.humidifier {
      background-color: #f1f1f1; }
      .product-list .product-line.humidifier .item figure {
        padding-left: 8.333333%; }
    .product-list .product-line.purifier {
      background-color: #ededed; }
    .product-list .product-line.heater {
      background-color: #dfdfdf; }
      .product-list .product-line.heater .item figure {
        padding-right: 8.333333%; }
    .product-list .product-line.circulator {
      background-color: #dfdfdf; }
      .product-list .product-line.circulator .item figure {
        padding-right: 8.333333%; }
    .product-list .product-line.action .item figure img {
      opacity: 1; }
    .product-list .product-line.action .item-details {
      opacity: 1; }
    .product-list .product-line.action:nth-of-type(even) .item-details {
      right: 0; }
    .product-list .product-line.action:nth-of-type(even) .item figure img {
      left: 0; }
    .product-list .product-line.action:nth-of-type(odd) .item-details {
      left: 0; }
    .product-list .product-line.action:nth-of-type(odd) .item figure img {
      right: 0; }
    .product-list .product-line .product-view {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 0;
      padding: 0;
      background-color: #fff;
      box-shadow: 18px 6px 15px 0px rgba(0, 0, 0, 0.07);
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .product-list .product-line .product-view.on {
        height: auto;
        padding: 60px 0; }
      .product-list .product-line .product-view ul > li > a {
        position: relative;
        display: block;
        width: 100%;
        height: 350px;
        padding: 25px 30px;
        background-color: #f7f7f7; }
        .product-list .product-line .product-view ul > li > a small {
          display: block;
          font-size: 11px;
          color: #999;
          font-weight: 400;
          font-family: 'roboto', serif;
          letter-spacing: 1px; }
        .product-list .product-line .product-view ul > li > a b {
          display: block;
          font-size: 13px;
          color: #1b1b1d;
          font-weight: bold;
          font-family: 'roboto', serif;
          letter-spacing: 1px; }
        .product-list .product-line .product-view ul > li > a figure {
          position: absolute;
          bottom: 30px;
          left: 0;
          width: 100%; }
          .product-list .product-line .product-view ul > li > a figure img {
            display: block;
            margin: 0 auto;
            max-height: 240px; }
        .product-list .product-line .product-view ul > li > a .view-hover {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 1;
          background-color: rgba(27, 27, 29, 0.3);
          background-image: url(/assets/images/product/ico_more.png);
          background-repeat: no-repeat;
          background-position: 50% 50%;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
        .product-list .product-line .product-view ul > li > a:hover .view-hover {
          opacity: 1;
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15); }
      .product-list .product-line .product-view ul > li:nth-of-type(4) ~ li a {
        margin-top: 30px; }
    .product-list .product-line.active .item-details .v-align .btn-area .btn.list-view {
      display: none; }
    .product-list .product-line.active .item-details .v-align .btn-area .btn.list-close {
      display: inline-block; }

.product-view .product-intro {
  display: table;
  width: 100%;
  table-layout: fixed; }
  .product-view .product-intro article {
    display: table-cell;
    width: 50%;
    padding-top: 150px;
    vertical-align: middle; }
    .product-view .product-intro article.product-detail {
      padding-bottom: 50px; }
      .product-view .product-intro article.product-detail > figure > .img-fluid {
        display: block;
        margin: 0 auto; }
      .product-view .product-intro article.product-detail > .slider-nav {
        position: relative;
        display: block;
        width: 500px;
        margin: 0 auto;
        /*text-align: center;*/ }
        .product-view .product-intro article.product-detail > .slider-nav .slick-arrow {
          position: absolute;
          top: 50%;
          display: block;
          width: 30px;
          height: 30px;
          font-size: 12px;
          color: #aaa;
          border: 2px solid #aaa;
          border-radius: 50%;
          margin-top: -15px;
          background-color: #fff;
          cursor: pointer;
          outline: none;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .product-view .product-intro article.product-detail > .slider-nav .slick-arrow.slick-prev {
            left: -40px; }
          .product-view .product-intro article.product-detail > .slider-nav .slick-arrow.slick-next {
            right: -40px; }
          .product-view .product-intro article.product-detail > .slider-nav .slick-arrow:hover {
            color: #333;
            border-color: #333; }
        .product-view .product-intro article.product-detail > .slider-nav li {
          display: inline-block;
          cursor: pointer;
          outline: none;
          width: 125px !important;
          height: 105px; }
          .product-view .product-intro article.product-detail > .slider-nav li figure {
            position: relative;
            display: block;
            margin: 0 10px;
            width: 105px; }
          .product-view .product-intro article.product-detail > .slider-nav li.on figure:before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            height: 100%;
            width: 100%;
            content: "";
            border: 1px solid #333; }
        .product-view .product-intro article.product-detail > .slider-nav.more {
          text-align: center !important;
          font-size: 0; }
          .product-view .product-intro article.product-detail > .slider-nav.more > li {
            display: inline-block; }
    .product-view .product-intro article.product-info {
      padding: 150px 100px 100px;
      background-color: #f1f1f1; }
      .product-view .product-intro article.product-info h3 {
        font-size: 45px;
        color: #1b1b1d;
        font-weight: 300;
        font-family: 'roboto', serif; }
        .product-view .product-intro article.product-info h3 small {
          display: block;
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 20px;
          font-family: 'Noto Sans KR', sans-serif; }
      .product-view .product-intro article.product-info .summary {
        font-size: 15px;
        color: #666;
        font-weight: 300;
        line-height: 26px;
        word-break: keep-all;
        margin-top: 40px; }
      .product-view .product-intro article.product-info h4 {
        font-size: 14px;
        color: #1b1b1d;
        font-weight: 600;
        margin-top: 70px;
        font-family: 'roboto', serif; }
      .product-view .product-intro article.product-info dl {
        overflow: hidden;
        font-size: 13px;
        color: #666;
        margin-top: 20px; }
        .product-view .product-intro article.product-info dl dt {
          float: left;
          clear: both;
          width: 170px;
          line-height: 38px;
          font-weight: 400; }
        .product-view .product-intro article.product-info dl dd {
          font-weight: 400;
          line-height: 38px; }
      .product-view .product-intro article.product-info .btn-area {
        margin-top: 150px; }
        .product-view .product-intro article.product-info .btn-area p .btn-md {
          width: 190px; }
.product-view .details-img {
  padding: 30px 0 40px; }
  .product-view .details-img figure .img-fluid {
    display: block;
    width: 100%; }
.product-view .related-products .article-header {
  text-align: center;
  padding: 50px 0; }
  .product-view .related-products .article-header > h3 {
    font-size: 23px;
    color: #1b1b1d;
    font-weight: 500;
    letter-spacing: 4px;
    font-family: 'roboto', serif; }
.product-view .related-products .article-content > ul > li > a {
  position: relative;
  display: block;
  width: 100%;
  height: 350px;
  padding: 25px 30px;
  background-color: #f7f7f7; }
  .product-view .related-products .article-content > ul > li > a small {
    display: block;
    font-size: 11px;
    color: #999;
    font-weight: 400;
    font-family: 'roboto', serif;
    letter-spacing: 1px; }
  .product-view .related-products .article-content > ul > li > a b {
    display: block;
    font-size: 13px;
    color: #1b1b1d;
    font-weight: bold;
    font-family: 'roboto', serif;
    letter-spacing: 1px; }
  .product-view .related-products .article-content > ul > li > a figure {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%; }
    .product-view .related-products .article-content > ul > li > a figure img {
      display: block;
      margin: 0 auto;
      max-height: 240px; }
  .product-view .related-products .article-content > ul > li > a .view-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    background-color: rgba(27, 27, 29, 0.3);
    background-image: url(/assets/images/product/ico_more.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
  .product-view .related-products .article-content > ul > li > a:hover .view-hover {
    opacity: 1;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15); }
.product-view .related-products .article-content > ul > li:nth-of-type(4) ~ li a {
  margin-top: 30px; }

/*# sourceMappingURL=product.css.map */
