@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype"); }
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.container {
  max-width: 1200px !important; }

#gnb > ul > li > a {
  color: #1b1b1d; }
  #gnb > ul > li > a:hover {
    color: #cecfcf; }

.test-title {
  display: block;
  font-size: 25px;
  color: #000;
  margin: 60px 0 30px;
  font-weight: 400; }

#content {
  padding-bottom: 120px; }

.form-group {
  margin: 0; }

.form-control {
  margin: 0;
  border-radius: 0;
  box-shadow: none !important; }

label {
  font-weight: 400;
  margin: 0; }

dl dt {
  font-weight: 400;
  margin-bottom: 0; }
dl dd {
  font-weight: 400;
  margin-bottom: 0; }

.roboto {
  font-family: 'roboto', serif; }

.page-header {
  width: 100%;
  text-align: center;
  padding-top: 240px;
  height: 520px;
  background-image: url(/assets/images/sub/bg_page_header.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }
  .page-header .page-title {
    font-size: 80px;
    color: #1b1b1d;
    font-weight: lighter;
    letter-spacing: 5px;
    font-family: 'roboto', serif;
    margin-bottom: 20px; }
  .page-header .page-path {
    display: inline-block; }
    .page-header .page-path .breadcrumb {
      margin: 0;
      padding: 0;
      border-radius: 0;
      background: none; }
      .page-header .page-path .breadcrumb > li {
        font-size: 12px;
        color: #1b1b1d;
        font-weight: 400;
        padding: 0; }
        .page-header .page-path .breadcrumb > li a {
          display: inline-block; }
        .page-header .page-path .breadcrumb > li.active {
          font-weight: 500; }
        .page-header .page-path .breadcrumb > li.roboto {
          letter-spacing: 3px; }
        .page-header .page-path .breadcrumb > li:before {
          display: none; }
        .page-header .page-path .breadcrumb > li:after {
          content: ">";
          margin: 0 15px; }
        .page-header .page-path .breadcrumb > li:last-child:after {
          content: "";
          margin: 0; }

#snb-menu {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ccc; }
  #snb-menu ul {
    display: table;
    width: 100%;
    table-layout: fixed; }
    #snb-menu ul > li {
      display: table-cell;
      width: 1%; }
      #snb-menu ul > li > a {
        position: relative;
        display: block;
        font-size: 16px;
        color: #666;
        font-weight: 300;
        text-align: center;
        line-height: 80px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        #snb-menu ul > li > a > span {
          position: absolute;
          bottom: -3px;
          left: 50%;
          width: 0;
          height: 3px;
          display: block;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          background-color: #666; }
        #snb-menu ul > li > a:hover {
          opacity: .7; }
          #snb-menu ul > li > a:hover span {
            width: 100%;
            margin-left: -50%; }
      #snb-menu ul > li.active > a {
        color: #1b1b1d;
        font-weight: 400; }
        #snb-menu ul > li.active > a > span {
          margin-left: -50%;
          width: 100%; }
        #snb-menu ul > li.active > a:hover {
          opacity: 1; }
          #snb-menu ul > li.active > a:hover span {
            width: 100%; }

.section-header {
  text-align: center;
  padding: 100px 0 60px; }
  .section-header .section-title {
    font-size: 60px;
    color: #1b1b1d;
    font-weight: lighter;
    letter-spacing: 3px;
    font-family: 'roboto', serif; }
    .section-header .section-title span {
      font-family: 'Noto Sans KR', sans-serif;
      letter-spacing: 0; }

.search-form {
  position: relative;
  width: 430px;
  height: 60px;
  display: block;
  margin: 0 auto; }
  .search-form .form-group {
    width: 100%; }
    .search-form .form-group .form-control {
      width: 100%;
      padding: 17px;
      padding-right: 65px;
      border: 1px solid #f3f3f3;
      background-color: #f3f3f3; }
  .search-form .btn-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    font-size: 20px;
    color: #1b1b1d;
    text-align: center;
    line-height: 60px; }

.search-type2 {
  width: 100%;
  padding: 45px 0;
  text-align: center;
  background-color: #f3f3f3; }
  .search-type2 .form-group {
    display: inline-block;
    position: relative;
    margin-right: 40px; }
    .search-type2 .form-group .form-control {
      height: 60px;
      border: 1px solid #f3f3f3;
      background-color: #f3f3f3; }
    .search-type2 .form-group select {
      width: 150px; }
    .search-type2 .form-group input[type="text"] {
      width: 450px;
      padding-right: 65px; }
    .search-type2 .form-group .btn-search {
      position: absolute;
      top: 0;
      right: 0;
      width: 60px;
      height: 60px;
      font-size: 17px;
      line-height: 60px;
      color: #1b1b1d;
      text-align: center; }
    .search-type2 .form-group:last-child {
      margin-right: 0; }

.lnb-menu {
  text-align: center; }
  .lnb-menu > ul {
    font-size: 0; }
    .lnb-menu > ul > li {
      position: relative;
      display: inline-block;
      padding: 0 10px;
      vertical-align: top; }
      .lnb-menu > ul > li a {
        display: inline-block;
        font-size: 15px;
        color: #999;
        width: 100%;
        font-weight: 400;
        padding: 0 20px;
        line-height: 20px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .lnb-menu > ul > li a:hover {
          color: #1b1b1d; }
      .lnb-menu > ul > li.active a {
        color: #fff;
        background-color: #1b1b1d; }
        .lnb-menu > ul > li.active a:hover {
          color: #fff; }
      .lnb-menu > ul > li:after {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 10px;
        content: "|";
        color: #dfdfdf; }
      .lnb-menu > ul > li:last-child:after {
        content: "";
        margin: 0; }

.tab-menu {
  text-align: center; }
  .tab-menu > ul {
    font-size: 0; }
    .tab-menu > ul > li {
      width: 200px;
      display: inline-block;
      margin: 0 5px; }
      .tab-menu > ul > li a {
        display: block;
        font-size: 15px;
        color: #1b1b1d;
        line-height: 50px;
        text-align: center;
        border: 1px solid #333;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .tab-menu > ul > li a:hover {
          opacity: .8;
          color: #fff;
          background-color: #333; }
      .tab-menu > ul > li.active a {
        color: #fff;
        background-color: #333; }
        .tab-menu > ul > li.active a:hover {
          opacity: 1; }

.btn-area > p {
  font-size: 0; }
  .btn-area > p .btn {
    display: inline-block;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .btn-area > p .btn:hover {
      opacity: .7; }
    .btn-area > p .btn.btn-md {
      font-size: 15px;
      width: 170px;
      line-height: 50px;
      text-align: center;
      border: 1px solid #fff;
      margin-right: 10px; }
      .btn-area > p .btn.btn-md:last-child {
        margin-right: 0; }
    .btn-area > p .btn.btn-white {
      color: #333;
      border-color: #333; }
    .btn-area > p .btn.btn-black {
      color: #fff;
      background-color: #333; }

.paging {
  text-align: center; }
  .paging .pagination {
    display: inline-block; }
    .paging .pagination > li {
      display: inline-block;
      vertical-align: top; }
      .paging .pagination > li a {
        position: relative;
        font-size: 16px;
        color: #999;
        font-weight: 300;
        margin: 0 15px;
        padding: 0;
        line-height: 20px;
        border-radius: 0;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        font-family: 'roboto', serif;
        border: 0;
        background: none; }
        .paging .pagination > li a span {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          opacity: 0;
          background-color: #8d8d8e; }
        .paging .pagination > li a:hover {
          color: #1b1b1d;
          opacity: .7; }
          .paging .pagination > li a:hover span {
            opacity: 1; }
        .paging .pagination > li a i.icon-angle {
          display: block;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-position: 50% 50%; }
          .paging .pagination > li a i.icon-angle.icon-first {
            background-image: url(/assets/images/sub/icon_first.png); }
            .paging .pagination > li a i.icon-angle.icon-first:hover {
              background-image: url(/assets/images/sub/icon_first_on.png); }
          .paging .pagination > li a i.icon-angle.icon-prev {
            background-image: url(/assets/images/sub/icon_prev.png); }
            .paging .pagination > li a i.icon-angle.icon-prev:hover {
              background-image: url(/assets/images/sub/icon_prev_on.png); }
          .paging .pagination > li a i.icon-angle.icon-next {
            background-image: url(/assets/images/sub/icon_next.png); }
            .paging .pagination > li a i.icon-angle.icon-next:hover {
              background-image: url(/assets/images/sub/icon_next_on.png); }
          .paging .pagination > li a i.icon-angle.icon-last {
            background-image: url(/assets/images/sub/icon_last.png); }
            .paging .pagination > li a i.icon-angle.icon-last:hover {
              background-image: url(/assets/images/sub/icon_last_on.png); }
      .paging .pagination > li.prev a {
        margin-left: 0;
        margin-right: 30px; }
      .paging .pagination > li.next a {
        margin-right: 0;
        margin-left: 30px; }
      .paging .pagination > li.active a {
        color: #1b1b1d;
        font-weight: 500; }
        .paging .pagination > li.active a span {
          opacity: 1; }
        .paging .pagination > li.active a:hover {
          opacity: 1; }

.board-type1 {
  border-top: 2px solid #666; }
  .board-type1 .accordion .card {
    border-radius: 0;
    border: 0; }
    .board-type1 .accordion .card .card-header {
      padding: 15px 30px;
      background-color: #fff;
      border-bottom: 1px solid #dfdfdf; }
      .board-type1 .accordion .card .card-header > div {
        position: relative;
        line-height: 40px;
        text-align: left;
        padding-left: 95px; }
        .board-type1 .accordion .card .card-header > div .btn-link {
          position: relative;
          width: 100%;
          font-size: 15px;
          color: #1b1b1d;
          font-weight: 400;
          display: block;
          text-decoration: none !important; }
          .board-type1 .accordion .card .card-header > div .btn-link:after {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -11px;
            font-size: 15px;
            content: "\F005";
            font-family: "fontello"; }
          .board-type1 .accordion .card .card-header > div .btn-link.collapsed:after {
            color: #999;
            content: "\F004"; }
          .board-type1 .accordion .card .card-header > div .btn-link.collapsed dl dt {
            font-weight: 300; }
          .board-type1 .accordion .card .card-header > div .btn-link.collapsed dl dd {
            font-weight: 300; }
        .board-type1 .accordion .card .card-header > div dl {
          text-align: left;
          display: table;
          width: 100%;
          line-height: 40px;
          table-layout: fixed; }
          .board-type1 .accordion .card .card-header > div dl dt {
            display: table-cell;
            font-weight: 400;
            width: 125px;
            vertical-align: middle; }
          .board-type1 .accordion .card .card-header > div dl dd {
            display: table-cell;
            vertical-align: middle;
            overflow: hidden;
            font-weight: 400;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-right: 20px; }
        .board-type1 .accordion .card .card-header > div:before {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 40px;
          height: 40px;
          font-size: 18px;
          color: #fff;
          line-height: 40px;
          content: "Q";
          text-align: center;
          font-family: 'roboto', serif;
          font-weight: 500;
          border-radius: 50%;
          background-color: #333; }
    .board-type1 .accordion .card .card-body {
      position: relative;
      font-size: 14px;
      color: #666;
      font-weight: 300;
      line-height: 26px;
      padding: 40px 30px 40px 120px;
      background-color: #f8f8f8;
      border-bottom: 1px solid #dfdfdf; }
      .board-type1 .accordion .card .card-body:before {
        position: absolute;
        top: 40px;
        left: 30px;
        font-size: 18px;
        display: block;
        width: 40px;
        height: 40px;
        color: #fff;
        line-height: 40px;
        content: "A";
        text-align: center;
        font-family: 'roboto', serif;
        font-weight: 500;
        border-radius: 50%;
        background-color: #bbb; }

.board-type2 {
  border-top: 2px solid #666; }
  .board-type2 > ul > li {
    display: table;
    width: 100%;
    table-layout: fixed;
    padding: 30px 0;
    min-height: 150px;
    border-bottom: 1px solid #dfdfdf; }
    .board-type2 > ul > li > div {
      display: table-cell;
      vertical-align: middle; }
      .board-type2 > ul > li > div.product-item {
        width: 19%; }
      .board-type2 > ul > li > div.model-num {
        width: 19%; }
      .board-type2 > ul > li > div.details {
        text-align: left; }
      .board-type2 > ul > li > div.manual-down {
        width: 9.5%; }
      .board-type2 > ul > li > div figure .img-fluid {
        display: block;
        margin: 0 auto; }
      .board-type2 > ul > li > div h4 {
        line-height: 24px;
        font-family: 'roboto', serif; }
        .board-type2 > ul > li > div h4 small {
          font-size: 12px;
          color: #999;
          font-weight: 400;
          letter-spacing: 1px; }
        .board-type2 > ul > li > div h4 b {
          font-size: 15px;
          color: #1b1b1d;
          font-weight: bold;
          display: block;
          letter-spacing: 1px; }
      .board-type2 > ul > li > div p {
        font-size: 14px;
        color: #666;
        line-height: 24px; }
      .board-type2 > ul > li > div a {
        display: block; }
        .board-type2 > ul > li > div a .icon-pdf {
          display: block;
          width: 40px;
          height: 40px;
          background-image: url(/assets/images/sub/icon_pdf.png);
          background-position: 50% 50%;
          background-repeat: no-repeat;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
        .board-type2 > ul > li > div a:hover .icon-pdf {
          background-image: url(/assets/images/sub/icon_pdf_on.png); }

.board-type3 {
  padding: 50px 20px;
  border-top: 2px solid #666;
  border-bottom: 1px solid #aaa; }
  .board-type3 > ul > li:nth-of-type(3) ~ li a {
    margin-top: 50px; }
  .board-type3 > ul > li a {
    text-align: center; }
    .board-type3 > ul > li a figure {
      position: relative;
      display: block; }
      .board-type3 > ul > li a figure .img-fluid {
        width: 100%; }
      .board-type3 > ul > li a figure:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        font-family: "fontello";
        content: "\E80D";
        z-index: 1;
        font-size: 40px;
        color: #fff;
        line-height: 200px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
      .board-type3 > ul > li a figure:hover:after {
        opacity: 1; }
    .board-type3 > ul > li a .details {
      font-size: 16px;
      color: #1b1b1d;
      font-weight: 400;
      margin-top: 20px; }

.board-type4 > ul > li {
  border: 1px solid #ccc; }
  .board-type4 > ul > li:nth-of-type(1), .board-type4 > ul > li:nth-of-type(2) {
    border-color: #666; }
    .board-type4 > ul > li:nth-of-type(1) p, .board-type4 > ul > li:nth-of-type(2) p {
      color: #1b1b1d !important; }
    .board-type4 > ul > li:nth-of-type(1) > a, .board-type4 > ul > li:nth-of-type(2) > a {
      border-color: #666; }
  .board-type4 > ul > li ~ li {
    margin-top: 20px; }
  .board-type4 > ul > li > a {
    text-align: center;
    padding: 30px 0;
    border: 1px solid #fff;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .board-type4 > ul > li > a:hover {
      background-color: #f9f9f9; }
    .board-type4 > ul > li > a > ul > li > p {
      font-size: 16px;
      color: #666;
      line-height: 24px;
      font-weight: 300;
      font-family: 'roboto', serif; }
      .board-type4 > ul > li > a > ul > li > p.content {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        font-weight: 400;
        font-family: 'Noto Sans KR', sans-serif;
        text-align: left; }
      .board-type4 > ul > li > a > ul > li > p.date {
        text-align: left;
        font-size: 13px; }
      .board-type4 > ul > li > a > ul > li > p.hit {
        text-align: left;
        font-size: 13px;
        margin-left: -30px; }
      .board-type4 > ul > li > a > ul > li > p > i {
        font-size: 12px;
        margin-right: 15px; }
    .board-type4 > ul > li > a > ul > li .icon-volume {
      position: relative;
      top: 2px;
      font-size: 13px;
      margin: 0; }

.board-type5 {
  border-top: 2px solid #666; }
  .board-type5 > ul > li {
    padding: 50px 15px;
    border-bottom: 1px solid #aaa; }
    .board-type5 > ul > li > a {
      display: block; }
      .board-type5 > ul > li > a figure {
        position: relative;
        overflow: hidden; }
        .board-type5 > ul > li > a figure .img-fluid {
          width: 100%;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
        .board-type5 > ul > li > a figure:hover .img-fluid {
          transform: scale(1.1); }
      .board-type5 > ul > li > a .details {
        padding-top: 20px;
        padding-left: 70px; }
        .board-type5 > ul > li > a .details .label {
          display: block;
          font-size: 12px;
          width: 50px;
          line-height: 20px;
          text-align: center;
          height: 22px;
          border: 1px solid #fff; }
        .board-type5 > ul > li > a .details h4 {
          font-size: 33px;
          color: #1b1b1d;
          letter-spacing: -1px;
          font-weight: 400;
          margin: 30px 0; }
        .board-type5 > ul > li > a .details p {
          font-size: 15px;
          color: #333;
          line-height: 24px; }
        .board-type5 > ul > li > a .details dl {
          margin-top: 55px;
          overflow: hidden; }
          .board-type5 > ul > li > a .details dl dt {
            float: left;
            clear: both;
            width: 100px;
            font-size: 13px;
            color: #999;
            font-weight: 400;
            line-height: 24px; }
          .board-type5 > ul > li > a .details dl dd {
            display: block;
            font-size: 13px;
            color: #999;
            font-weight: 400;
            letter-spacing: 1px;
            line-height: 24px;
            font-family: 'roboto', serif; }
      .board-type5 > ul > li > a.ongoing .details .label {
        color: #fff;
        border-color: #353535;
        background-color: #353535; }
      .board-type5 > ul > li > a.event-end figure:hover .img-fluid {
        transform: scale(1); }
      .board-type5 > ul > li > a.event-end figure:before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.7); }
      .board-type5 > ul > li > a.event-end .details .label {
        color: #1b1b1d;
        border-color: #353535;
        background-color: #fff; }

.board-view {
  border-top: 2px solid #666;
  border-bottom: 1px solid #ccc; }
  .board-view .article-header {
    padding: 30px 15px; }
    .board-view .article-header h4 {
      font-size: 28px;
      color: #1b1b1d;
      margin-bottom: 20px;
      font-weight: 400; }
    .board-view .article-header > ul > li {
      display: inline-block;
      margin-right: 20px;
      font-size: 13px;
      color: #999;
      font-weight: 300; }
      .board-view .article-header > ul > li:last-child {
        margin-right: 0; }
      .board-view .article-header > ul > li i {
        font-size: 12px;
        margin-right: 5px; }
        .board-view .article-header > ul > li i.icon-calendar-empty {
          position: relative;
          top: -1px; }
  .board-view .article-content {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #666;
    text-align: center;
    padding: 110px 15px 100px;
    border-top: 1px solid #ccc; }
  .board-view > .attach {
    position: relative;
    padding-left: 50px;
    padding-bottom: 30px; }
    .board-view > .attach:before {
      position: absolute;
      top: 0;
      left: 15px;
      font-size: 13px;
      color: #999;
      font-family: "fontello";
      content: "\E80B"; }
    .board-view > .attach > li > a {
      display: block;
      font-size: 13px;
      color: #999;
      font-family: 'roboto', serif;
      font-weight: 400;
      line-height: 20px; }

.page-more {
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
  border-color: #666 !important;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  background: none !important; }
  .page-more > li {
    clear: both; }
    .page-more > li dl {
      overflow: hidden; }
      .page-more > li dl dt {
        float: left;
        width: 8.33%;
        position: relative;
        font-size: 14px;
        color: #1b1b1d;
        text-align: right;
        line-height: 60px;
        padding-right: 15px; }
        .page-more > li dl dt:before {
          position: absolute;
          top: 0;
          left: 15px;
          font-size: 11px;
          color: #1b1b1d;
          font-family: "fontello"; }
      .page-more > li dl dd {
        float: left;
        width: 91.66%;
        line-height: 60px; }
        .page-more > li dl dd > a {
          display: block;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          font-size: 14px;
          color: #666;
          font-weight: 400;
          padding-left: 45px;
          padding-right: 15px; }
    .page-more > li:first-child {
      border-bottom: 1px solid #dfdfdf; }
      .page-more > li:first-child dl dt:before {
        content: "\F005"; }
    .page-more > li:last-child dl dt:before {
      content: "\F004"; }

.write-form .table {
  margin: 0;
  border: 0;
  border-top: 2px solid #666;
  border-bottom: 1px solid #aaa; }
  .write-form .table tbody tr th {
    font-size: 15px;
    color: #1b1b1d;
    font-weight: 400;
    width: 100px;
    text-align: left;
    padding: 0 15px;
    vertical-align: middle;
    border: 0;
    border-bottom: 1px solid #dfdfdf; }
    .write-form .table tbody tr th:after {
      content: " *"; }
    .write-form .table tbody tr th.v-top {
      vertical-align: top;
      padding-top: 20px; }
  .write-form .table tbody tr td {
    vertical-align: middle;
    padding: 10px 15px;
    border: 0;
    border-bottom: 1px solid #dfdfdf; }
    .write-form .table tbody tr td .form-group .form-control {
      width: 100%;
      height: 40px;
      border: 1px solid #f5f5f5;
      background-color: #f5f5f5; }
    .write-form .table tbody tr td .form-group textarea {
      margin: 10px 0;
      height: 380px !important; }
    .write-form .table tbody tr td.basic .form-group .form-control {
      width: 370px; }
    .write-form .table tbody tr td.file label {
      width: 100px;
      height: 40px;
      font-size: 14px;
      color: #666;
      text-align: center;
      cursor: pointer;
      line-height: 40px;
      background-color: #f5f5f5;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .write-form .table tbody tr td.file label:hover {
        opacity: .7; }
  .write-form .table tbody tr:last-child th {
    border: 0; }
  .write-form .table tbody tr:last-child td {
    border: 0; }

/*# sourceMappingURL=sub.css.map */
